<div class="row lir">
    <div class="text-center">
        <h2>Load Distribution Main Deck Comparment</h2>
    </div>
    <div class="table-content">
        <table class="table table-responsive">
            <thead>
                <th></th>
                <th>P1</th>
                <th>P2</th>
                <th>P3</th>
                <th>P4</th>
                <th>P5</th>
                <th>P6</th>
                <th>P7</th>
                <th>P8</th>
                <th>P9</th>
                <th>P10</th>
            </thead>
            <tbody>
                <tr>
                    <td class="lable">Max Weight Limit</td>
                    <td>1914 Kgs</td>
                    <td>2914 Kgs</td>
                    <td>2914 Kgs</td>
                    <td>3914 Kgs</td>
                    <td>1414 Kgs</td>
                    <td>2914 Kgs</td>
                    <td>2914 Kgs</td>
                    <td>3914 Kgs</td>
                    <td>2914 Kgs</td>
                    <td>3914 Kgs</td>
                </tr>
                <tr>
                    <td>ULD Number</td>
                    <td></td>
                    <td></td>
                    <td>PA6 0285 MYI</td>
                    <td>PA6 0433 MYI</td>
                    <td>PA6 30160 MYI</td>
                    <td>PA6 3014 MYI</td>
                    <td>PA6 0472 MYI</td>
                    <td>PA6 36053 UPS</td>
                    <td>PA6 1572 UPS</td>
                    <td>PA6 8206 N7</td>
                </tr>
                <tr>
                    <td>Gross Weight In Kgs</td>
                    <td></td>
                    <td></td>
                    <td>489</td>
                    <td>493</td>
                    <td>530</td>
                    <td>470</td>
                    <td>489</td>
                    <td>500</td>
                    <td>863</td>
                    <td>1665</td>
                </tr>
                <tr>
                    <td>Destination</td>
                    <td></td>
                    <td></td>
                    <td>CBM</td>
                    <td>CBM</td>
                    <td>CBM</td>
                    <td>CBM</td>
                    <td>CBM</td>
                    <td>CBM</td>
                    <td>CBM</td>
                    <td>CBM</td>
                </tr>
                <tr>
                    <td>Remarks</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center pt-5">
        <h2>Load Distribution Lower Hold</h2>
    </div>
    <div class="col-md-6">
        <div class="pt-3">
            <h3>Forward Hold</h3>
        </div>
        <div class="table-content">
            <table class="table table-responsive">
                <thead>
                    <th></th>
                    <th>B1</th>
                    <th>B1B</th>
                    <th>B2</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="lable">Max Weight Limit</td>
                        <td>762 Kgs</td>
                        <td>483 Kgs</td>
                        <td>2059 Kgs</td>
                    </tr>
                    <tr>
                        <td>Cart No.</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Weight Kgs</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Destination</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Remarks</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="pt-3">
            <h3>Afthold</h3>
        </div>
        <div class="table-content">
            <table class="table table-responsive">
                <thead>
                    <th></th>
                    <th>B3</th>
                    <th>B4</th>
                    <th>B5</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="lable">Max Weight Limit</td>
                        <td>3062 Kgs</td>
                        <td>414 Kgs</td>
                        <td>735 Kgs</td>
                    </tr>
                    <tr>
                        <td>Cart No.</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Weight Kgs</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Destination</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Remarks</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>