<div class="modal-body">
    <div class="row lir">
        <div class="lir-header">
            <div class="row">
                <div class="col-md-4">
                    <div class="lir-logo">
                        <img class="img-fluid" src="/assets/images/logos/my-indo-logo.svg" title="My Indo">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="heding">
                        <h2>Loading Instruction Report</h2>
                        <span>Boeing 737-400 / PK-MYV</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="lir-info">
            <div class="table-content">
                <table class="table table-responsive m-0">
                    <tbody>
                        <tr>
                            <td style="padding: 0;">
                                <table class="table table-responsive m-0">
                                    <tbody>
                                        <tr>
                                            <td style="text-transform: uppercase;">Flight Number: 2Y4421</td>
                                            <td style="text-transform: uppercase;">Date: 03 Luly 2022</td>
                                        </tr>
                                        <tr>
                                            <td style="text-transform: uppercase;">Station: SZX</td>
                                            <td style="text-transform: uppercase;">Destination: KNO</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <div style="text-transform: uppercase;">Prepared By: Nurchous</div>
                                <div>Signature of Load Master / Load Planner</div>
                            </td>
                            <td>
                                <div style="text-transform: uppercase;">Speclal Instruction / Report</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="text-center">
            <h2>Load Distribution Main Deck Compartment</h2>
        </div>
        <div class="table-content">
            <table class="table table-responsive">
                <thead>
                    <th></th>
                    <th *ngFor="let position of cargoBookingSummary.cargoPositions;let indexOfelement=index;">{{"P" +(indexOfelement+1)}}</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="lable">Max Weight Limit</td>
                        <td *ngFor="let position of cargoBookingSummary.cargoPositions">{{ position.maxWeight +" Kgs"}}</td>
                    </tr>
                    <tr>
                        <td>ULD Number</td>
                        <td *ngFor="let position of cargoBookingSummary.cargoPositions">{{(position.palletId != "")?position.uldNumber:""}}</td>
                    </tr>
                    <tr>
                        <td>Gross Weight In Kgs</td>
                        <td *ngFor="let position of cargoBookingSummary.cargoPositions">{{ (position.weight>0)?position.weight +" Kgs":""}}</td>
                    </tr>
                    <tr>
                        <td>Destination</td>
                        <td *ngFor="let position of cargoBookingSummary.cargoPositions">{{ (position.isPalletAssigned)? cargoBookingSummary.destinationAirportCode:""}}</td>
                       
                    </tr>
                    <tr>
                        <td>Remarks</td>
                        <td *ngFor="let position of cargoBookingSummary.cargoPositions"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center pt-5">
            <h2>Load Distribution Lower Hold</h2>
        </div>
        <div class="col-md-5">
            <div class="pt-3">
                <h3>Forward Hold</h3>
            </div>
            <div class="table-content">
                <table class="table table-responsive">
                    <thead>
                        <th></th>
                        <th>B1</th>
                        <th>B1B</th>
                        <th>B2</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="lable">Max Weight Limit</td>
                            <td>762 Kgs</td>
                            <td>483 Kgs</td>
                            <td>2059 Kgs</td>
                        </tr>
                        <tr>
                            <td>Cart No.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Weight Kgs</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Destination</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Remarks</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <div class="disclaimer">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-5 offset-md-2">
            <div class="pt-3">
                <h3>AFT Hold</h3>
            </div>
            <div class="table-content">
                <table class="table table-responsive">
                    <thead>
                        <th></th>
                        <th>B3</th>
                        <th>B4</th>
                        <th>B5</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="lable">Max Weight Limit</td>
                            <td>3062 Kgs</td>
                            <td>414 Kgs</td>
                            <td>735 Kgs</td>
                        </tr>
                        <tr>
                            <td>Cart No.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Weight Kgs</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Destination</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Remarks</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <div class="disclaimer">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary me-3">Cancel</button>
    <button type="button" class="btn btn-primary">Print or Download</button>
</div>
