<div class="main-card">
  <div class="card-header px-0 pt-0">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h1>Dashboard</h1>
      </div>
    </div>
  </div>
  <div class="card-body without-footer">
    <div class="row">
      <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 20px">
        <div class="filter-wrapper">
          <div class="filter-group">
            <label class="form-label">Departure Date</label>
            <input  type="text" class="form-control" bsDatepicker
                   >
          </div>
          <div class="button">
            <button  class="btn sm btn-primary-outline">Add Filter</button>
          </div>
<!--          <div aria-label="right">-->
<!--            <label>Summery for: 03/02/2024</label>-->
<!--          </div>-->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <button type="button" class="btn btn-primary top-btn-left" style="border-radius: 0.5rem;"><h1 style="font-weight: bolder; font-size: x-large">1501</h1>
          <label style="font-weight: normal; font-size: small">Number of parcel collected</label></button>
      </div>
      <div class="col-3">
        <button type="button" class="btn btn-primary top-btn-left" style="border-radius: 0.5rem;"><h1 style="font-weight: bolder; font-size: x-large">103</h1>
          <label style="font-weight: normal; font-size: small">Total parcel to be returned</label></button>
      </div>
      <div class="col-3">
        <button type="button" class="btn btn-primary top-btn-left" style="border-radius: 0.5rem;"><h1 style="font-weight: bolder; font-size: x-large">100</h1>
          <label style="font-weight: normal; font-size: small">Total parcels on hold </label></button>
      </div>
      <div class="col-3">
        <button type="button" class="btn btn-primary top-btn-left" style="border-radius: 0.5rem;"><h1 style="font-weight: bolder; font-size: x-large">86%</h1>
          <label style="font-weight:normal ; font-size: small">Successful delivery</label></button>
      </div>
</div>
    <div class="row">
      <div class="col-4" >
        <div class="card-body shadow p-3 mb-5 bg-body rounded border border-1" style="margin-top: 20px; height: 350px">
          <div class="chart-container">
            <canvas height="300" id="MyChart" >{{ chart }}</canvas>
          </div>
        </div>
      </div>
      <div class="col-4" >
        <div class="card-body shadow p-3 mb-5 bg-body rounded border border-1" style="margin-top: 20px; height: 350px">
        </div>
      </div>
      <div class="col-4">
        <div class="card-body shadow p-3 mb-5 bg-body rounded border border-1" style="margin-top: 20px; height: 350px">
        </div>
      </div>
    </div>

    <div class="row pt-5">
      <div class="row">
        <div class="col-2">
            <h4>Parcels Delivered</h4>
        </div>
        <div class="col-1">
          <div class="filter-group">
            <div>
              <label *ngIf="!isLoading">
                <input type="checkbox">
                <span class="checkmark">Time Period</span>
              </label>
            </div>
          </div>
        </div>
        <div class="col-1">
          <div  class="filter-group">
            From 
            <span class="status-chip accepted" bsDatepicker [(ngModel)]="fileterDate">1-April
            </span>
          </div>
        </div>
        <div class="col-1">
          <div  class="filter-group">
            To 
            <span class="status-chip accepted" bsDatepicker [(ngModel)]="fileterDate">2-April
            </span>
          </div>
        </div>   
      </div>

      <div class="row">
        <div *ngIf="!isLoading" class="table-content">
          <table class="table table-responsive">
            <thead>
              <th>Collected Date</th>
              <th>AWB's</th>
              <th>Parceles Collected</th>
              <th>Parceles Returned</th>
              <th>Parceles on Hold</th>
              <th>ULD Packed</th>
              <th>On Route</th>
              <th>Parceles Delivered</th>
              <th>24 hrs</th>
              <th>24 to 36 hrs</th>
              <th>36 hrs</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of this.parcelDelivered">
                <td>{{ item.collectedDate }}</td>
                <td>{{ item.AWBs }}</td>
                <td>{{ item.parcelsCollected }}</td>
                <td>{{ item.parcelsReturned }}</td>
                <td>{{ item.parcelsOnHold }}</td>
                <td>{{ item.ULDPacked }}</td>
                <td>{{ item.onRoute }}</td>
                <td>{{ item.parcelsDelivered }}</td>
                <td>{{ item['24hrs'] }}</td>
                <td>{{ item['24to36hrs'] }}</td>
                <td>{{ item['36hrs'] }}</td>
            </tr>
            </tbody>
          </table>
            
        </div>
      </div>
    </div>


  </div>
</div>


