<div class="modal-body">
    <div class="filter-wrapper d-flex justify-content-end">
        <div class="button">
          <button class="btn sm btn-primary-outline" (click)="generatePDF()">Download PDF</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="booking-details">
                <div class="label">Rate Type</div>
                <div>{{GetRateType(rateDetail?.rateType)}}</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="booking-details">
                <div class="label">Cargo Agent</div>
                <div>{{rateDetail?.cargoAgentName}}</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="booking-details">
                <div class="label">Cargo Type</div>
                <div>{{GetCargoType(rateDetail?.cargoType)}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="booking-details">
                <div class="label">Valid Start Date</div>
                <div>{{rateDetail?.startDate| date}}</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="booking-details">
                <div class="label">Valid End Date</div>
                <div>{{rateDetail?.endDate| date}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="table-content">
            <table class="table table-responsive">
                <thead>
                    <th>Origin</th>
                        <th>Destination</th>
                        <th *ngFor="let rateItem of rateDetail?.agentRates">{{GetWeightType(rateItem.weightType)}}</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{rateDetail?.originAirportCode}}</td>
                        <td>{{rateDetail?.destinationAirportCode}}</td>
                        <td *ngFor="let rateItem of rateDetail?.agentRates">{{rateItem.rate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
