<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <div class="booking-details">
                <div class="label">Cargo Agent</div>
                <div>{{rateDetail?.cargoAgentName}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="table-content">
            <table class="table table-responsive">
                <thead>
                    <th>Origin</th>
                        <th>Destination</th>
                        <th *ngFor="let rateItem of rateDetail?.agentRates">{{GetWeightType(rateItem.weightType)}}</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{rateDetail?.originAirportCode}}</td>
                        <td>{{rateDetail?.destinationAirportCode}}</td>
                        <td *ngFor="let rateItem of rateDetail?.agentRates">{{rateItem.rate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
