<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <div class="booking-details">
                <div class="label">Cargo Agent</div>
                <div>FedEx</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="table-content">
            <table class="table table-responsive">
                <thead>
                    <th>Origin</th>
                        <th>Destination</th>
                        <th>M</th>
                        <th>-45K</th>
                        <th>+45K</th>
                        <th>+100K</th>
                </thead>
                <tbody>
                    <tr>
                        <td>YYC</td>
                        <td>YCG</td>
                        <td>20.00</td>
                        <td>24.50</td>
                        <td>25.30</td>
                        <td>26.75</td>
                    </tr>
                    <tr>
                        <td>YYC</td>
                        <td>YCG</td>
                        <td>20.00</td>
                        <td>24.50</td>
                        <td>25.30</td>
                        <td>26.75</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
