<div class="booking-summary">
    <div class="tab-content" id="nav-tabContent">
        <div class="flight-booking">
            <div class="flight-body">
                <div class="flight-detail">
                    <div class="block-1"><img src="/assets/images/flight-icons/head.svg"></div>
                    <div class="block-1 exit"><img src="/assets/images/flight-icons/exit.svg"></div>
                    <div class="flight-class">Economy</div>
                    <div class="body-seat" (click)="onULDClick(1)" (mouseleave)="leave()" (mouseover)="over(1)">
                        <div class="seat-row">
                          <app-uld-info *ngIf="this.selectedPosition==1 && !isCreated" [selectedCargoPosition]="selectedCargoPosition"></app-uld-info>
                            <div class="freighter-block"></div>
                            <div class="sr-number">P1</div>
                        </div>
                    </div>
                    <div class="block-1 exit"><img src="/assets/images/flight-icons/flight-exit.svg"></div>
                    <div class="body-seat" (click)="onULDClick(2)" (mouseleave)="leave()" (mouseover)="over(2)">
                        <div class="seat-row">
                          <app-uld-info *ngIf="this.selectedPosition==2 && !isCreated" [selectedCargoPosition]="selectedCargoPosition"></app-uld-info>
                            <div class="freighter-block"></div>
                            <div class="sr-number">P2</div>
                        </div>
                    </div>
                    <div class="body-seat" (click)="onULDClick(3)" (mouseleave)="leave()" (mouseover)="over(3)">
                        <div class="seat-row">
                          <app-uld-info *ngIf="this.selectedPosition==3 && !isCreated" [selectedCargoPosition]="selectedCargoPosition"></app-uld-info>
                            <div class="freighter-block"></div>
                            <div class="sr-number">P3</div>
                        </div>
                    </div>
                    <div class="body-seat" (click)="onULDClick(4)" (mouseleave)="leave()" (mouseover)="over(4)">
                        <div class="seat-row">
                          <app-uld-info *ngIf="this.selectedPosition==4 && !isCreated" [selectedCargoPosition]="selectedCargoPosition"></app-uld-info>
                            <div class="freighter-block"></div>
                            <div class="sr-number">P4</div>
                        </div>
                    </div>
                    <div class="body-seat" (click)="onULDClick(5)" (mouseleave)="leave()" (mouseover)="over(5)">
                        <div class="seat-row">
                          <app-uld-info *ngIf="this.selectedPosition==5 && !isCreated" [selectedCargoPosition]="selectedCargoPosition"></app-uld-info>
                            <div class="freighter-block"></div>
                            <div class="sr-number">P5</div>
                        </div>
                    </div>
                    <div class="block-1 exit"><img src="/assets/images/flight-icons/flight-exit.svg"></div>
                    <div class="body-seat" (click)="onULDClick(6)" (mouseleave)="leave()" (mouseover)="over(6)">
                        <div class="seat-row">
                          <app-uld-info *ngIf="this.selectedPosition==6 && !isCreated" [selectedCargoPosition]="selectedCargoPosition"></app-uld-info>
                            <div class="freighter-block"></div>
                            <div class="sr-number">P6</div>
                        </div>
                    </div>
                    <div class="body-seat" (click)="onULDClick(7)" (mouseleave)="leave()" (mouseover)="over(7)">
                        <div class="seat-row">
                          <app-uld-info *ngIf="this.selectedPosition==7 && !isCreated" [selectedCargoPosition]="selectedCargoPosition"></app-uld-info>
                            <div class="freighter-block"></div>
                            <div class="sr-number">P7</div>
                        </div>
                    </div>
                    <div class="body-seat" (click)="onULDClick(8)" (mouseleave)="leave()" (mouseover)="over(8)">
                        <div class="seat-row">
                          <app-uld-info *ngIf="this.selectedPosition==8 && !isCreated" [selectedCargoPosition]="selectedCargoPosition"></app-uld-info>
                            <div class="freighter-block"></div>
                            <div class="sr-number">P8</div>
                        </div>
                    </div>
                    <div class="body-seat" (click)="onULDClick(9)" (mouseleave)="leave()" (mouseover)="over(9)">
                        <div class="seat-row">
                          <app-uld-info *ngIf="this.selectedPosition==9 && !isCreated" [selectedCargoPosition]="selectedCargoPosition"></app-uld-info>
                            <div class="freighter-block"></div>
                            <div class="sr-number">P9</div>
                        </div>
                    </div>
                    <div class="body-seat" (click)="onULDClick(10)" (mouseleave)="leave()" (mouseover)="over(10)">
                        <div class="seat-row">
                          <app-uld-info *ngIf="this.selectedPosition==10 && !isCreated" [selectedCargoPosition]="selectedCargoPosition"></app-uld-info>
                            <div class="freighter-block"></div>
                            <div class="sr-number">P10</div>
                        </div>
                    </div>
                    <div class="block-1"><img src="/assets/images/flight-icons/flight-back.svg"></div>
                    <div class="block-1 exit"><img src="/assets/images/flight-icons/flight-exit.svg"></div>
                    <div class="block-1 pe-0"><img src="/assets/images/flight-icons/flight-end.svg"></div>
                </div>
            </div>
        </div>
    </div>
</div>
