<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">Flight Reg Number</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">Flight Number</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="col-md-12 form-group">
            <h3>Sector List</h3>
            <div class="sector-scroller">
                <div class="bg-box px-3 pt-2 pb-1">
                    <div class="sector-wrapper">
                        <div class="sector-set">
                            <div class="base">SUB</div>
                        </div>
                        <div class="sector-set">
                            <div class="sector-data">
                                <div class="time-box">
                                    10:30
                                    <i class="ca ca-icn-aircraft"></i>
                                    12:30
                                </div>
                            </div>
                            <div class="sector-action">
                                <div class="base">KOE</div>
                            </div>
                        </div>
                        <div class="sector-set">
                            <div class="sector-data">
                                <div class="time-box">
                                    15:30
                                    <i class="ca ca-icn-aircraft"></i>
                                    16:30
                                </div>
                            </div>
                            <div class="sector-action">
                                <div class="base">SUB</div>
                            </div>
                        </div>
                        <div class="sector-set">
                            <div class="sector-data">
                                <div class="time-box">
                                    20:30
                                    <i class="ca ca-icn-aircraft"></i>
                                    24:30
                                </div>
                            </div>
                            <div class="sector-action">
                                <div class="base">YYC</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">Start Date</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">End Date</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="col-md-12">
            <h3>Day(s) of Week</h3>
            <div class="chek-chip">
                <div class="cu-check">
                    <label class="chip-button cu-checkbox">1
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                    <label class="chip-button cu-checkbox">2
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="chip-button cu-checkbox">3
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="chip-button cu-checkbox">4
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="chip-button cu-checkbox">5
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="chip-button cu-checkbox">6
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="chip-button cu-checkbox">7
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary me-3">Cancel</button>
    <button class="btn btn-primary" type="submit">Save</button>
</div>