<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">Aircraft Reg Number</label>
                <app-auto-complete-dropdown [data]="aircraftList" [keyword]="keyword"
                (selectFileOutput)="selectedAircraft($event)" (clearSearch)="onClearAircraft()" [tabindex]="1"></app-auto-complete-dropdown>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">Flight Number</label>
                <app-auto-complete-dropdown [data]="flightList" [keyword]="keyword"
                (selectFileOutput)="selectedFlight($event)" (clearSearch)="onClearFlight()" [tabindex]="2"></app-auto-complete-dropdown>
            </div>
        </div>
        <div class="col-md-12 form-group" *ngIf="flight != null">
            <h3>Sector List</h3>
            <div class="sector-scroller">
                <div class="bg-box px-3 pt-2 pb-1">
                    <div class="sector-wrapper">
                        <div class="sector-set">
                            <div class="base">{{flight.originAirportCode}}</div>
                        </div>
                        <div class="sector-set" *ngFor="let flightSector of flight.flightSectors">
                            <div class="sector-data">
                                <div class="time-box">
                                    {{flightSector.arrivalDateTime| date :'HH:mm'}}
                                    <i class="ca ca-icn-aircraft"></i>
                                    {{flightSector.departureDateTime| date :'HH:mm'}}
                                </div>
                            </div>
                            <div class="sector-action">
                                <div class="base">{{flightSector.sector.destinationAirportCode}}</div>
                            </div>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">Start Date</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">End Date</label>
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="col-md-12">
            <h3>Day(s) of Week</h3>
            <div class="chek-chip">
                <div class="cu-check">
                    <label class="chip-button cu-checkbox">1
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                    <label class="chip-button cu-checkbox">2
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="chip-button cu-checkbox">3
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="chip-button cu-checkbox">4
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="chip-button cu-checkbox">5
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="chip-button cu-checkbox">6
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="chip-button cu-checkbox">7
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary me-3">Cancel</button>
    <button class="btn btn-primary" type="submit">Save</button>
</div>