<div class="main-card">
    <div class="card-header px-0 pt-0">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h1>Booking Summary Details</h1>
            </div>
            <div class="d-flex align-items-center">
                <div class="me-3">
                    <button  [disabled]="cargoBookingSummary?.cargoPositionSummary.totalBookedWeight==0" class="btn btn btn-primary p-2" type="button" (click)="viewBookingdetail()">View Booking</button>
                </div>
                <div class="back-icn"><i class="ca ca-icn-left-arrow-dash" title="Back" (click)="backToList()"></i>
                </div>
            </div>

        </div>
    </div>
    <div class="card-body without-footer">
        <div class="booking-details">
          <div class="d-flex flex-row-reverse">

          </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="label">Flight Number</div>
                    <div>{{cargoBookingSummary?.flightNumber}}</div>
                </div>
                <div class="col-md-2">
                    <div class="label">Aircraft Number</div>
                    <div>{{cargoBookingSummary?.aircraftRegNo}}</div>
                </div>
                <div class="col-md-3">
                    <div class="label">Origin</div>
                    <div>{{cargoBookingSummary?.originAirportName}}</div>
                </div>
                <div class="col-md-3">
                    <div class="label">Destination</div>
                    <div>{{cargoBookingSummary?.destinationAirportName}}</div>
                </div>
                <div class="col-md-2">
                    <div class="label">Departure Date</div>
                    <div>{{cargoBookingSummary?.scheduledDepartureDateTime| date}}</div>
                </div>
                <div class="col-md-2">
                    <div class="label pt-4">Aircraft Config</div>
                    <div>{{GetAircraftConfigType(cargoBookingSummary?.aircraftConfigurationType)}}</div>
                </div>
            </div>
            <div class="details-box-section">
                <div class="details-box">
                    <h4>Total Booked Weight (Kg)</h4>
                    <div class="value"><span class="">{{cargoBookingSummary?.cargoPositionSummary.totalBookedWeight}}</span><span>/ {{cargoBookingSummary?.cargoPositionSummary.totalWeight}}</span></div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [style.width]="cargoBookingSummary?.cargoPositionSummary.weightPercentage| percent"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            {{cargoBookingSummary?.cargoPositionSummary.weightPercentage | percent}}</div>
                    </div>
                </div>
                <div class="details-box">
                    <h4>Total Booked Volume (m3(Cubic meter))</h4>
                    <div class="value"><span class="">{{convertcm3Tom3(cargoBookingSummary?.cargoPositionSummary.totalBookedVolume)|number :'1.2-2'}}</span><span>/ {{convertcm3Tom3(cargoBookingSummary?.cargoPositionSummary.totalVolume)}}</span></div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [style.width]="cargoBookingSummary?.cargoPositionSummary.volumePercentage| percent"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            {{cargoBookingSummary?.cargoPositionSummary.volumePercentage | percent}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center pt-4">
            <div class="d-flex align-items-center pe-5">
                <h3 class="mb-0">View Freighter Details</h3>
                <button class="btn btn-primary-outline ms-5" type="button" (click)="viewLIR()">View LIR</button>
            </div>
            <button class="btn btn-primary" type="button" (click)="viewAssignBooking()">Update Information</button>
        </div>
        <div class="booking-summary">
            <app-al-b737400-type-one [cargoPositions]="this.cargoBookingSummary?.cargoPositions" *ngIf="this.cargoBookingSummary?.aircraftSubType == aircraftSubTypes.B737400TypeOne"  (ULDClick)="onULDClick($event)"></app-al-b737400-type-one>
            <app-al-b737800-type-one [cargoPositions]="this.cargoBookingSummary?.cargoPositions" *ngIf="this.cargoBookingSummary?.aircraftSubType == aircraftSubTypes.B737800TypeOne"  (ULDClick)="onULDClick($event)"></app-al-b737800-type-one>
            <app-al-b737300-type-one [cargoPositions]="this.cargoBookingSummary?.cargoPositions" *ngIf="this.cargoBookingSummary?.aircraftSubType == aircraftSubTypes.B737300TypeOne"  (ULDClick)="onULDClick($event)"></app-al-b737300-type-one>
        </div>
    </div>

</div>

<div class="modal fade" tabindex="-1" [ngClass]="{'in': modalVisibleAnimate}"
    [ngStyle]="{'display': modalVisible ? 'block' : 'none', 'opacity': modalVisibleAnimate ? 1 : 0}">
    <div class="modal-dialog modal-xxl modal-dialog-centered mtop-50">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">LIR</h2>
                <button type="button" class="close btn" data-dismiss="modal" (click)="closeLIR()"
                    aria-label="Close"><span class="ca ca-icn-close"></span></button>
            </div>
            <div>
                <app-booking-summary-lir [cargoBookingSummary]="this.cargoBookingSummary" (closePopup)="closeLIR()" *ngIf="modalVisible"></app-booking-summary-lir>
            </div>
        </div>
    </div>
</div>

<div class="modal fade right" tabindex="-1" [ngClass]="{'in': uldDetailModalVisibleAnimate}"
    [ngStyle]="{'display': uldDetailModalVisible ? 'block' : 'none', 'opacity': uldDetailModalVisibleAnimate ? 1 : 0}">
    <div class="modal-dialog modal-lg modal-dialog-m modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">ULD Details - Position {{selectedPositionNumber}}</h2>
                <button type="button" class="close btn" data-dismiss="modal" (click)="closeULDDetail()"
                    aria-label="Close"><span class="ca ca-icn-close"></span></button>
            </div>
            <div class="modal-body">
                <app-freighter-uld-details [positionDetail]="this.selectedCargoPosition" *ngIf="uldDetailModalVisible"></app-freighter-uld-details>
            </div>
        </div>
    </div>
</div>

<div class="modal fade right" tabindex="-1" [ngClass]="{'in': assignBookingModalVisibleAnimate}"
    [ngStyle]="{'display': assignBookingModalVisible ? 'block' : 'none', 'opacity': assignBookingModalVisibleAnimate ? 1 : 0}">
    <div class="modal-dialog modal-lg modal-dialog-m modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Pallet Assignment</h2>
                <button type="button" class="close btn" data-dismiss="modal" (click)="closeAssginBooking()"
                    aria-label="Close"><span class="ca ca-icn-close"></span></button>
            </div>
            <div class="modal-body">
                <app-assign-booking (submitSuccess)="getSummaryDetail()" [bookingDetail]="this.cargoBookingSummary" *ngIf="assignBookingModalVisible"></app-assign-booking>
            </div>
        </div>
    </div>
</div>

<div class="modal fade right" tabindex="-1" [ngClass]="{'in': bookingDetailModalVisibleAnimate}"
    [ngStyle]="{'display': bookingDetailModalVisible ? 'block' : 'none', 'opacity': bookingDetailModalVisibleAnimate ? 1 : 0}">
    <div class="modal-dialog modal-lg modal-dialog-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Booking Details</h2>
                <button type="button" class="close btn" data-dismiss="modal" (click)="closebookingDetail()"
                    aria-label="Close"><span class="ca ca-icn-close"></span></button>
            </div>
            <div class="modal-body">
                <app-booking-detail [bookingDetail]="this.cargoBookingSummary" *ngIf="bookingDetailModalVisible"></app-booking-detail>
            </div>
        </div>
    </div>
</div>
