<form [formGroup]='sectorForm' (ngSubmit)="saveSectorDetails()">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" *ngIf="!isLoading">
                    <label class="form-label">Sector Type</label>
                    <app-auto-complete-dropdown [data]="sectorTypes" [keyword]="keyword" [selectedIndex]="editSectorTypeIndex" [tabindex]="1"
                        (selectFileOutput)="selectedSectorType($event)" (changeSearch)="onClearSectorType()"
                        (clearSearch)="onClearSectorType()"></app-auto-complete-dropdown>
                </div>
                <app-text-input-loader *ngIf="isLoading"></app-text-input-loader>
            </div>
            <div class="col-md-6">
                <div class="form-group" *ngIf="!isLoading">
                    <label class="form-label">Origin Airport</label>
                    <app-auto-complete-dropdown [data]="originAirpots" [keyword]="keyword" [selectedIndex]="editOriginAirportIndex" [tabindex]="2"
                        (selectFileOutput)="selectedOrigin($event)" (changeSearch)="onClearOrigin()"
                        (clearSearch)="onClearOrigin()"></app-auto-complete-dropdown>
                </div>
                <app-text-input-loader *ngIf="isLoading"></app-text-input-loader>
            </div>
            <div class="col-md-6">
                <div class="form-group" *ngIf="!isLoading">
                    <label class="form-label">Destination Airport</label>
                    <app-auto-complete-dropdown [data]="destinationAirpots" [keyword]="keyword" [selectedIndex]="editDestinationAirportIndex" [tabindex]="3"
                        (selectFileOutput)="selectedDestination($event)" (changeSearch)="onClearDestination()"
                        (clearSearch)="onClearDestination()"></app-auto-complete-dropdown>
                </div>
                <app-text-input-loader *ngIf="isLoading"></app-text-input-loader>
            </div>
            <div  class="col-md-6" *ngIf="!isEditSector">
                <div class="form-group">
                    <div class="cu-check">
                        <label class="cu-checkbox" *ngIf="!isLoading"> Create Return Sector
                            <input [formControl]='sectorForm.controls["isCreateReturnSector"]' type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary me-3" (click)="closeModal()">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>