<button class="btn btn-primary" type="button" (click)="viewAddNewUser()">Add New User</button>

<div class="modal fade right" tabindex="-1" [ngClass]="{'in': modalVisibleAnimate}"
    [ngStyle]="{'display': modalVisible ? 'block' : 'none', 'opacity': modalVisibleAnimate ? 1 : 0}">
    <div class="modal-dialog modal-lg modal-dialog-m modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Add New User</h2>
                <button type="button" class="close btn" data-dismiss="modal" (click)="close()"
                    aria-label="Close"><span class="ca ca-icn-close"></span></button>
            </div>
            <div>
                <app-airport-create [airport]="this.selectedAirport" (submitSuccess)="onUserAdd()"
                    (closePopup)="closeAddAirport()" *ngIf="modalVisible"></app-airport-create>
            </div>
        </div>
    </div>
</div>
