<div class="row">
    <div class="d-flex justify-content-between align-items-center">
        <div class="filter-wrapper">
            <div class="filter-group">
                <label class="form-label">Flight No.</label>
                <input [(ngModel)]="query.flightNumber" type="text" class="form-control">
            </div>
            <!-- <div class="filter-group">
              <label class="form-label">Dept. Date</label>
              <input [(ngModel)]="query.flightNumber" type="text" class="form-control">
            </div> -->
            <div class="filter-group">
              <label class="form-label">Flight Date</label>
              <input [(ngModel)]="query.flightDate" type="text" class="form-control" bsDatepicker
                  (change)="onChangeFilter()">
            </div>
            <div class="filter-group">
              <label class="form-label">Origin</label>
              <app-auto-complete-dropdown #originAirportAutoComplete [data]="originAirpots" [keyword]="keyword"
                  (selectFileOutput)="selectedOrigin($event)" (changeSearch)="onClearOrigin()"
                  (clearSearch)="onClearOrigin()"></app-auto-complete-dropdown>
          </div>
          <div class="filter-group">
              <label class="form-label">Destination</label>
              <app-auto-complete-dropdown #destinationAirportAutoComplete [data]="destinationAirpots" [keyword]="keyword"
                  (selectFileOutput)="selectedDestination($event)" (changeSearch)="onClearDestination()"
                  (clearSearch)="onClearDestination()"></app-auto-complete-dropdown>
          </div>
            <div class="button">
                <button class="btn sm btn-primary-outline" (click)="getFilterList()">Add Filter</button>
            </div>
            <div class="filter-clear" title="Filter Clear"><i class="ca ca-icn-close" *ngIf="isFiltered" (click)="clearFilter()"></i></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="table-content"  *ngIf="!isLoading">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>Flight No.</th>
                    <th>Aircraft Type</th>
                    <th>Acreg.</th>
                    <th>Dept. Date</th>
                    <th>Origin</th>
                    <th>Dest</th>
                    <th>STD</th>
                    <th>STA</th>
                    <th>ETD</th>
                    <th>ETA</th>
                    <th>Pre Bookings</th>
                    <th>Actual Load</th>
                    <th>Off Load</th>
                    <th>Assign Status</th>
                    <th>Dispatch</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <tr *ngFor="let fs of flightScheduleLinks">
                      <td>{{fs.flightNumber}}</td>
                      <td>{{fs.aircraftSubTypeName}}</td>
                      <td>{{fs.aircraftRegNo}}</td>
                      <td>{{fs.scheduledDepartureDateTime | date}}</td>
                      <td>{{fs.originAirportName}}</td>
                      <td>{{fs.destinationAirportName}}</td>
                      <td>{{fs.scheduledDepartureDateTime | date :'shortTime'}}</td>
                      <td>{{fs.scheduledArrivalDateTime | date :'shortTime'}}</td>
                      <td>{{(fs.estimatedDepartureDateTime!==null)?  (fs.estimatedDepartureDateTime| date :'shortTime'):"-"}}</td>
                      <td>{{(fs.estimatedArrivalDateTime !== null) ? (fs.estimatedArrivalDateTime | date: 'shortTime') : "-" }}</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><span class="assign-aircraft-status-chip" [ngClass]="{
                        'assign':fs.aircraftRegNo,
                        'notassign':fs.aircraftRegNo== null || fs.aircraftRegNo == undefined
                        }">{{fs.aircraftRegNo?"Assign": "Not Assign"}}</span></td>
                      <td>{{fs.isDispatched==true? "Yes":"No"}}</td>
                      <td>
                        <i class="ca ca-icn-view" title="View" (click)="showSummary(fs)"></i>
                        <i class="ca ca-icn-add" title="Add" (click)="show(fs)"></i></td>
                    </tr>
                </tbody>
            </table>
            <div class="not-available" *ngIf="totalCount == 0">
              <img src="./assets/images/no-data.png" alt="No Content Data">
              <div>Assign aircrafts not available.</div>
          </div>
          <div class="d-flex align-items-center justify-content-center" *ngIf="totalCount > 0">
              <app-pager [pageSize]="query?.pageSize" [pageNumber]="query?.pageIndex"
                  [totalCount]="totalCount" (pageChanged)="onPageChanged($event)"></app-pager>
              <app-paging-header [totalCount]="totalCount" [pageSize]="query?.pageSize"
                  [pageNumber]="query?.pageIndex"></app-paging-header>
          </div>

        </div>
    </div>
    <app-table-loader [columnCount]="10" [rowCount]="query.pageSize" *ngIf="isLoading">
    </app-table-loader>
</div>



<div class="modal fade right" tabindex="-1" [ngClass]="{'in': modalVisibleAnimate}"
    [ngStyle]="{'display': modalVisible ? 'block' : 'none', 'opacity': modalVisibleAnimate ? 1 : 0}">
    <div class="modal-dialog modal-lg modal-dialog-m modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Assign Aircraft - Step {{ this.stepCount}}</h2>
                <button type="button" class="close btn" data-dismiss="modal" (click)="close()"
                    aria-label="Close"><span class="ca ca-icn-close"></span></button>
            </div>
            <app-link-aircraft-create *ngIf="modalVisible"
            [flightSchedule]="selectedFlightScheduleLink"
            (submitSuccess)="getFilterList()" (closePopup)="close()" (viewBookings)="viewBooking($event)">
          </app-link-aircraft-create>
        </div>
    </div>
</div>

<div class="modal fade right" tabindex="-1" [ngClass]="{'in': modalVisibleAnimateSummary}"
    [ngStyle]="{'display': modalVisibleSummary ? 'block' : 'none', 'opacity': modalVisibleAnimateSummary ? 1 : 0}">
    <div class="modal-dialog modal-lg modal-dialog-m modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">View Summary</h2>
                <button type="button" class="close btn" data-dismiss="modal" (click)="closeSummary()"
                    aria-label="Close"><span class="ca ca-icn-close"></span></button>
            </div>
            <app-view-aircraft-summary (viewBookings)="viewBooking($event)" [flightScheduleId]="selectedFlightScheduleLink?.id" (closePopup)="closeSummary()"></app-view-aircraft-summary>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" [ngClass]="{'in': verifyBookingModalVisibleAnimate}"
    [ngStyle]="{'display': verifyBookingModalVisible ? 'block' : 'none', 'opacity': verifyBookingModalVisibleAnimate ? 1 : 0}">
    <div class="modal-dialog modal-xxl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Verify Booking</h2>
                <button type="button" class="close btn" data-dismiss="modal" (click)="closeVerifyBooking()"
                    aria-label="Close"><span class="ca ca-icn-close"></span></button>
            </div>
            <div>
              <app-verify-booking *ngIf="verifyBookingModalVisible" [inputBase]="inputBase" [flightScheduleId]="selectedFlightScheduleLink?.id" (closePopup)="close()">
              </app-verify-booking>
            </div>
        </div>
    </div>
</div>
