<div class="">
    <div class="row">
        <h3>Aircraft Information</h3>
        <div class="col-md-6">
            <div class="details pe-5">
                <div class="card-details">
                    <div class="details-group">
                        <div class="lable">Reg Number</div>
                        <div>{{aircraftDetails?.regNo}}</div>
                    </div>
                    <div class="details-group">
                        <div class="lable">Aircraft Type</div>
                        <div>{{GetAircraftType(aircraftDetails?.aircraftType)}}</div>
                    </div>
                    <div class="details-group">
                        <div class="lable">Config</div>
                        <div>{{GetAircraftConfigType(aircraftDetails?.configurationType)}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="details ps-5">
                <div class="card-details">
                    <div class="details-group">
                        <div class="lable">Status</div>
                        <div>{{GetAircraftStaus(aircraftDetails?.status)}}</div>
                    </div>
                    <div class="details-group">
                        <div class="lable">Activity</div>
                        <div>{{(aircraftDetails?.isActive)?"Active":"Inactive"}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h3>Select Aircraft Sub Type</h3>
        <div class="col-md-6">
            <div class="details pe-5">
                <div class="card-details">
                    <div class="details-group">
                        <div class="lable">Layout</div>
                        <div>{{GetAircraftSubType(aircraftDetails?.aircraftSubType)}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <app-al-a320200-type-one *ngIf="this.aircraftDetails?.aircraftSubType == aircraftSubTypes.A320200TypeOne"></app-al-a320200-type-one>
            <app-al-b7879-type-one *ngIf="this.aircraftDetails?.aircraftSubType == aircraftSubTypes.B7879TypeOne"></app-al-b7879-type-one>
            <app-al-b737400-type-one *ngIf="this.aircraftDetails?.aircraftSubType == aircraftSubTypes.B737400TypeOne"></app-al-b737400-type-one>
        </div>
    </div>
</div>