<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">Reg Number</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">Aircraft Type</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label class="form-label">Select Aircraft Sub Type</label>
                <div class="drawer-chip">
                    <div class="chip">
                        <div>Layout - Boeing 7773 ER</div>
                        <div><i title="View" class="ca ca-icn-view"(click)="addLayout()"></i></div>
                    </div>
                    <div class="chip active">
                        <div>Layout - Boeing 7773 ER</div>
                        <div>
                            <i title="View" class="ca ca-icn-view" (click)="addLayout()"></i>
                            <i title="Close" class="ca ca-icn-close"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">Config</label>
                <select class="form-control">
                    <option></option>
                    <option>1</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">Status </label>
                <select class="form-control">
                    <option></option>
                    <option>1</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group d-flex align-items-center justify-content-between">
                <div>Active</div> 
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary me-3">Cancel</button>
    <button type="submit" class="btn btn-primary">Save</button>
</div>


<div class="modal fade right" tabindex="-1" [ngClass]="{'in': modalVisibleAnimate}"
    [ngStyle]="{'display': modalVisible ? 'block' : 'none', 'opacity': modalVisibleAnimate ? 1 : 0}">
    <div class="modal-dialog modal-lg modal-dialog-m modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Aircraft Layout</h2>
                <button type="button" class="close btn" data-dismiss="modal" (click)="closeAddLayout()" aria-label="Close"><span
                        class="ca ca-icn-close"></span></button>
            </div>
            <div>
                <app-aircraft-select-layout (submitSuccess)="onLayoutAdd()" (closePopup)="closeAddLayout()" *ngIf="modalVisible"></app-aircraft-select-layout>
            </div>
        </div>
    </div>
</div>