<form [formGroup]='aircraftForm' (ngSubmit)="saveAircraftDetails()">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Reg Number</label>
                    <app-text-input [formControl]='aircraftForm.controls["regNo"]' type="text"
                        [label]='"registration number."' [tabindex]="1">
                    </app-text-input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Config</label>
                    <app-auto-complete-dropdown [data]="configTypes" [keyword]="keyword" [isEdit]="editAircraft"
                        [selectedIndex]="editConfigTypeIndex" (selectFileOutput)="selectedConfigType($event)"
                        (changeSearch)="onClearConfigType()" (clearSearch)="onClearConfigType()" [tabindex]="3">
                    </app-auto-complete-dropdown>
                </div>
            </div>
            <div class="col-md-12" *ngIf="this.selectedConfigurationType != aircraftConfigType.None">
                <div class="form-group">
                    <label class="form-label">Aircraft Type</label>
                    <app-auto-complete-dropdown [data]="aircraftTypes" [keyword]="keyword" [isEdit]="editAircraft"
                        [selectedIndex]="editAircraftTypeIndex" (selectFileOutput)="selectedAircraftType($event)"
                        (changeSearch)="onClearAircraftType()" (clearSearch)="onClearAircraftType()" [tabindex]="2">
                    </app-auto-complete-dropdown>
                </div>
            </div>
            <div class="col-md-12" *ngIf="this.aircraftSubTypes?.length >0">
                <div class="form-group">
                    <label class="form-label">Select Aircraft Sub Type</label>
                    <div class="drawer-chip">
                        <div *ngFor="let subType of this.aircraftSubTypes">
                            <div class="chip" [ngClass]="{'active': subType.isSelected}">
                                <div>{{"Layout - "+ subType.name}}</div>
                                <div>
                                    <i *ngIf="(!subType.isSelected)" title="View" class="ca ca-icn-view"
                                        (click)="onViewLayout(subType)"></i>
                                    <i *ngIf="(subType.isSelected)" title="Close" class="ca ca-icn-close"
                                        (click)="onUnsilectLayout(subType)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Status </label>
                            <app-auto-complete-dropdown [data]="statusTypes" [keyword]="keyword"  [isEdit]="editAircraft"
                                [selectedIndex]="editStatusTypeIndex" (selectFileOutput)="selectedStatusType($event)"
                                (changeSearch)="onClearStatusType()" (clearSearch)="onClearStatusType()" [tabindex]="4">
                            </app-auto-complete-dropdown>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group d-flex align-items-center justify-content-between mb-2">
                            <div>Active</div>
                            <label class="switch">
                                <input [formControl]='aircraftForm.controls["isActive"]' type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary me-3" (click)="closeModal()">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>