 <div class="sidebar" [ngClass]="{ 'close':showCollapseMenu,'collapseDeactive':!showCollapseMenu}"> <!-- <div [ngClass]="{ 'close':showCollapseMenu,'collapseDeactive':!showCollapseMenu}"></div> -->
  <div class="logo-details">
    <div class="logo-wrapper" (click)="menuClickEvent(0)">
      <img src="{{logoUrl}}" style="height: 34px;" />
    </div>
    <div class="logo-wrapper-s" (click)="menuClickEvent(0)">
      <img src="{{iconUrl}}" />
    </div>
  </div>
  <ul class="nav-links">
    <li>
      <div class="link-group">
        <i class='ca ca-icn-dashboard'></i>
        <span class="link_name">Dashboard</span>
      </div>
      <ul class="sub-menu blank">
        <li>
          <div class="link_name link" (click)="menuClickEvent(1)">Dashboard</div>
        </li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <div class="link-group">
          <i class='ca ca-icn-booking'></i>
          <span class="link_name">Manage Bookings</span>
        </div>
        <i class='ca ca-icn-arrow-dwon arrow'></i>
      </div>
      <ul class="sub-menu">
        <li>
          <div class="link_name link">Manage Bookings</div>
        </li>
        <li>
          <div class="link" (click)="menuClickEvent(2)" [ngClass]="{'selected': selectedMenu == 2}">Booking Summary
          </div>
        </li>
        <li>
          <div class="link" (click)="menuClickEvent(17)" [ngClass]="{'selected': selectedMenu == 17}">Standby Cargo
          </div>
        </li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <div class="link-group">
          <i class='ca ca-icn-flight-schedule'></i>
          <span class="link_name">Fleet Management</span>
        </div>
        <i class='ca ca-icn-arrow-dwon arrow'></i>
      </div>
      <ul class="sub-menu">
        <li>
          <div class="link_name link">Fleet Management</div>
        </li>
        <li>
          <div class="link" (click)="menuClickEvent(9)" [ngClass]="{'selected': selectedMenu == 9}">Flight Schedule
          </div>
        </li>
        <li>
          <div class="link" (click)="menuClickEvent(13)" [ngClass]="{'selected': selectedMenu == 13}">Master Schedule
          </div>
        </li>
        <li>
          <div class="link" (click)="menuClickEvent(14)" [ngClass]="{'selected': selectedMenu == 14}">Assign Aircrafts
          </div>
        </li>
        <li>
          <div class="link" (click)="menuClickEvent(15)" [ngClass]="{'selected': selectedMenu == 15}">Fleet Analysis
          </div>
        </li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <div class="link-group">
          <i class='ca ca-icn-dollar'></i>
          <span class="link_name">Agent and Rate</span>
        </div>
        <i class='ca ca-icn-arrow-dwon arrow'></i>
      </div>
      <ul class="sub-menu">
        <li>
          <div class="link_name link">Agent and Rate</div>
        </li>
        <li>
          <div class="link" (click)="menuClickEvent(11)" [ngClass]="{'selected': selectedMenu == 11}">Cargo Agent
          </div>
        </li>
        <li>
          <div class="link" (click)="menuClickEvent(10)" [ngClass]="{'selected': selectedMenu == 10}">Rate Management
          </div>
        </li>
        <li>
          <div class="link" (click)="menuClickEvent(3)" [ngClass]="{'selected': selectedMenu == 3}">AWB Stock Management
          </div>
        </li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <div class="link-group">
          <i class='ca ca-icn-settings'></i>
          <span class="link_name">Settings</span>
        </div>
        <i class='ca ca-icn-arrow-dwon arrow'></i>
      </div>
      <ul class="sub-menu">
        <li>
          <div class="link_name link">Settings</div>
        </li>
        <li>
          <div class="link" (click)="menuClickEvent(5)" [ngClass]="{'selected': selectedMenu == 5}">Manage Airports
          </div>
        </li>
        <li>
          <div class="link" (click)="menuClickEvent(6)" [ngClass]="{'selected': selectedMenu == 6}">Manage Sectors
          </div>
        </li>
        <li>
          <div class="link" (click)="menuClickEvent(7)" [ngClass]="{'selected': selectedMenu == 7}">Manage Aircrafts
          </div>
        </li>
        <li>
          <div class="link" (click)="menuClickEvent(8)" [ngClass]="{'selected': selectedMenu == 8}">Flight Creation
          </div>
        </li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <div class="link-group">
          <i class='ca ca-icn-pallet'></i>
          <span class="link_name">ULD Management</span>
        </div>
        <i class='ca ca-icn-arrow-dwon arrow'></i>
      </div>
      <ul class="sub-menu">
        <li>
          <div class="link_name link">ULD Management</div>
        </li>
        <li>
          <div class="link" (click)="menuClickEvent(4)" [ngClass]="{'selected': selectedMenu == 4}">ULD Assignement
          </div>
        </li>
        <li>
          <div class="link" (click)="menuClickEvent(16)" [ngClass]="{'selected': selectedMenu == 16}">ULD Master
          </div>
        </li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <div class="link-group">
          <i class='ca ca-icn-bell'></i>
          <span class="link_name">Manage Notifications</span>
        </div>
        <i class='ca ca-icn-arrow-dwon arrow'></i>
      </div>
      <ul class="sub-menu">
        <li>
          <div class="link_name link">Manage Notifications</div>
        </li>
        <li>
          <div class="link" (click)="menuClickEvent(12)" [ngClass]="{'selected': selectedMenu == 12}">Publish Notifications
          </div>
        </li>
      </ul>
    </li>
    <li>
      <div class="profile-details">
        <div class="profile-content">
          <img src="assets/images/profile.jpg" alt="profileImg">
        </div>
        <div class="name-job">
          <div class="profile_name">David Ellison</div>
          <div class="job">Operation Manager</div>
        </div>
        <i class='bx bx-log-out'></i>
        <ul class="sub-menu">
          <li>
            <div class="link_name link">Manage Notifications</div>
          </li>
          <li>
            <div class="link" (click)="menuClickEvent(12)" [ngClass]="{'selected': selectedMenu == 12}">Publish Notifications
            </div>
          </li>
        </ul>
      </div>
      
      <!-- <div>
        <div class="profile-card" *ngIf="showProfileCard">
          <div class="pro-pic">
              <div class="pro-img"><img src="/assets/images/profile-img.png"></div>
          </div>
          <label>{{currentUser?.fullName}}</label>
          <label>{{currentUser?.email}}</label>
          <div class="actions">
              <span class="ca ca-icn-settings" title="Settings" (click)="settings()"></span>
              <span class="ca ca-icn-edit" title="Edit" (click)="edit()"></span>
              <span class="ca ca-icn-shutdown" title="Sign Out" (click)="signOut()"></span>
          </div>
        </div>
      </div> -->
      <!-- <div>
        <div class="profile-pic" (click)="profileClick()">
            <div class="pro-img"><img src="/assets/images/profile-img.png"></div>
        </div>
        <div class="profile-card" *ngIf="showProfileCard">
            <div class="pro-pic">
                <div class="pro-img"><img src="/assets/images/profile-img.png"></div>
            </div>
            <label>{{currentUser?.fullName}}</label>
            <label>{{currentUser?.email}}</label>
            <div class="actions">
                <span class="ca ca-icn-settings" title="Settings" (click)="settings()"></span>
                <span class="ca ca-icn-edit" title="Edit" (click)="edit()"></span>
                <span class="ca ca-icn-shutdown" title="Sign Out" (click)="signOut()"></span>
            </div>
        </div>
      </div> -->
    </li>
  </ul>
</div>