 <div class="sidebar" [ngClass]="{ 'close':showCollapseMenu,'collapseDeactive':!showCollapseMenu}"> <!-- <div [ngClass]="{ 'close':showCollapseMenu,'collapseDeactive':!showCollapseMenu}"></div> -->
  <div class="logo-details">
    <div class="logo-wrapper" (click)="menuClickEvent(0)">
      <img src="{{logoUrl}}" style="height: 34px;" />
    </div>
    <div class="logo-wrapper-s" (click)="menuClickEvent(0)">
      <img src="{{iconUrl}}" />
    </div>
  </div>
  <ul class="nav-links">
    <li>
      <div class="link-group">
        <i class='ca ca-icn-dashboard'></i>
        <span class="link_name">Dashboard</span>
      </div>
      <ul class="sub-menu blank">
        <li>
          <div class="link_name link" (click)="menuClickEvent(1)">Dashboard</div>
        </li>
      </ul>
    </li>
    <li *ngFor="let item of sideMenuItems" [ngClass]="{'showMenu': item.expanded}">
      <div class="iocn-link">
        <div class="link-group">
          <i class='ca' [ngClass]="item.icon"></i>
          <span class="link_name">{{item.title}}</span>
        </div>
        <i class='ca ca-icn-arrow-dwon arrow' (click)="item.expanded= !item.expanded"></i>
      </div>
      <ul class="sub-menu">
        <li>
          <div class="link_name link">{{item.title}}</div>
        </li>
        <li *ngFor="let child of item.children">
          <div class="link" (click)="menuClickEvent(child.menuType)" [ngClass]="{'selected': selectedMenu == child.menuType}">{{child.title}}
          </div>
        </li>
      </ul>
    </li>
    <li>
      <div class="profile-details">
        <div class="profile-content">
          <img src="assets/images/profile.jpg" alt="profileImg">
        </div>
        <div class="name-job">
          <div class="profile_name">Prem Shahi</div>
          <div class="job">Web Desginer</div>
        </div>
        <i class='bx bx-log-out'></i>
        <ul class="sub-menu">
          <li>
            <div class="link_name link">Manage Notifications</div>
          </li>
          <li>
            <div class="link" (click)="menuClickEvent(12)" [ngClass]="{'selected': selectedMenu == 12}">Publish Notifications
            </div>
          </li>
        </ul>
      </div>

      <!-- <div>
        <div class="profile-card" *ngIf="showProfileCard">
          <div class="pro-pic">
              <div class="pro-img"><img src="/assets/images/profile-img.png"></div>
          </div>
          <label>{{currentUser?.fullName}}</label>
          <label>{{currentUser?.email}}</label>
          <div class="actions">
              <span class="ca ca-icn-settings" title="Settings" (click)="settings()"></span>
              <span class="ca ca-icn-edit" title="Edit" (click)="edit()"></span>
              <span class="ca ca-icn-shutdown" title="Sign Out" (click)="signOut()"></span>
          </div>
        </div>
      </div> -->
      <!-- <div>
        <div class="profile-pic" (click)="profileClick()">
            <div class="pro-img"><img src="/assets/images/profile-img.png"></div>
        </div>
        <div class="profile-card" *ngIf="showProfileCard">
            <div class="pro-pic">
                <div class="pro-img"><img src="/assets/images/profile-img.png"></div>
            </div>
            <label>{{currentUser?.fullName}}</label>
            <label>{{currentUser?.email}}</label>
            <div class="actions">
                <span class="ca ca-icn-settings" title="Settings" (click)="settings()"></span>
                <span class="ca ca-icn-edit" title="Edit" (click)="edit()"></span>
                <span class="ca ca-icn-shutdown" title="Sign Out" (click)="signOut()"></span>
            </div>
        </div>
      </div> -->
    </li>
  </ul>
</div>
