<div class="main-card">
    <div class="card-header px-0 pt-0">
        <div class="d-flex justify-content-between align-items-center">
            <div><h1>Airport</h1></div>
            <div>
                <button class="btn btn-primary" type="button" (click)="addAirport()">Add Airport</button>
            </div>
        </div>
    </div>
    <div class="card-body without-footer">
        <div class="row">
            <div class="d-flex justify-content-between align-items-center">
                <div class="filter-wrapper">
                    <div class="filter-group">
                        <label class="form-label">Country</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="filter-group">
                        <label class="form-label">Airport Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="filter-group">
                        <label class="form-label">Airport Code</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="button">
                        <button type="button" class="btn sm btn-primary-outline">Add Filter</button>
                    </div>
                    <div class="filter-clear" title="Filter Clear">
                        <i class="ca ca-icn-close"></i>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn sm btn-primary-outline">Advanced Filter</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table-content">
                <table class="table table-responsive">
                    <thead>
                        <th>Country</th>
                        <th>Airport Name</th>
                        <th>Airport Code</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Canada</td>
                            <td>Toronto Pearson International Airport</td>
                            <td>YYZ</td>
                            <td>51.131470</td>
                            <td>-114.010559</td>
                        </tr>
                        <tr>
                            <td>Canada</td>
                            <td>Toronto Pearson International Airport</td>
                            <td>YYZ</td>
                            <td>51.131470</td>
                            <td>-114.010559</td>
                        </tr>
                        <tr>
                            <td>Canada</td>
                            <td>Toronto Pearson International Airport</td>
                            <td>YYZ</td>
                            <td>51.131470</td>
                            <td>-114.010559</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade right" tabindex="-1" [ngClass]="{'in': modalVisibleAnimate}"
    [ngStyle]="{'display': modalVisible ? 'block' : 'none', 'opacity': modalVisibleAnimate ? 1 : 0}">
    <div class="modal-dialog modal-lg modal-dialog-m modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Create New Airport</h2>
                <button type="button" class="close btn" data-dismiss="modal" (click)="closeAddAirport()" aria-label="Close"><span
                        class="ca ca-icn-close"></span></button>
            </div>
            <div>
                <app-airport-create *ngIf="modalVisible"></app-airport-create>
            </div>
        </div>
    </div>
</div>