<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="form-label">Country</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">Airport Name</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">Airport Code</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">Latitude</label>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <select class="form-control">
                                <option>Select</option>
                                <option>South</option>
                                <option>Test 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">Longitude</label>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <select class="form-control">
                                <option>Select</option>
                                <option>South</option>
                                <option>Test 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary me-3">Cancel</button>
    <button type="button" class="btn btn-primary">Save</button>
</div>
