<div class="main-card">
    <div class="card-header px-0 pt-0">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h1>Standby Cargo</h1>
            </div>
        </div>
    </div>
    <div class="card-body without-footer">
        <div class="row">
            <div class="d-flex justify-content-between align-items-center">
                <div class="filter-wrapper">
                    <div class="filter-group">
                        <label class="form-label">Booking ID</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="filter-group">
                        <label class="form-label">Booking Agent</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="button">
                        <button class="btn sm btn-primary-outline">Add Filter</button>
                    </div>
                    <div class="filter-clear" title="Filter Clear"><i class="ca ca-icn-close"></i></div>
                </div>
            </div>
        </div>
        <div>
            <div class="booking-summary">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" [ngClass]="{'active':standByCargoType == selectedStandByStatus.Offload}" id="offloaded-bookings-tab" data-bs-toggle="tab" (click)="changeMenu(selectedStandByStatus.Offload)"
                      data-bs-target="#offloaded-bookings" type="button" role="tab" aria-controls="offloaded-bookings" aria-selected="true">Offloaded Bookings</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" [ngClass]="{'active':standByCargoType == selectedStandByStatus.NotReceived}" id="cargo-not-received-tab" data-bs-toggle="tab" (click)="changeMenu(selectedStandByStatus.NotReceived)"
                      data-bs-target="#cargo-not-received" type="button" role="tab" aria-controls="cargo-not-received" aria-selected="false">Cargo Not Received</button>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="offloaded-bookings" role="tabpanel" aria-labelledby="offloaded-bookings-tab">
                      <div class="table-content">
                          <table class="table table-responsive">
                              <thead>
                                  <th>Booking ID</th>
                                  <th>AWB Number</th>
                                  <th>Booking Agent</th>
                                  <th>From to</th>
                                  <th>Booking Date</th>
                                  <th>Status</th>
                                  <th>No.Rec. Pcs</th>
                                  <th>Total Rec. Weight (kg)</th>
                                  <th>Total Rec. Volume (m3)</th>
                                  <th>Actions</th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let book of cargoBookingList">
                                      <td>{{book.bookingNumber}}</td>
                                      <td>{{book.awbNumber}}</td>
                                      <td>{{book.bookingAgent}}</td>
                                      <td>
                                          <span class="status-chip accepted">{{book.origin}} - {{book.destination}} </span>
                                      </td>
                                      <td>{{book.bookingDate}}</td>
                                      <td>
                                        <span class="status-chip" [ngClass]="{
                                          'none':book?.bookingStatus == bookingStatus.None,
                                          'pending': book?.bookingStatus == bookingStatus.Pending,
                                          'dispatch':book?.bookingStatus == bookingStatus.Dispatched,
                                          'invoiced':book?.bookingStatus == bookingStatus.Invoiced,
                                          'accepted':book?.bookingStatus == bookingStatus.Accepted,
                                          'loading':book?.bookingStatus == bookingStatus.Loading,
                                          'exported':book?.bookingStatus == bookingStatus.Exported
                                      }">{{getBookingStatus(book?.bookingStatus)}}</span>
                                      </td>
                                      <td>{{book.numberOfRecBoxes}}</td>
                                      <td>{{book.totalRecWeight}}</td>
                                      <td>{{convertcm3Tom3(book.totalRecVolume)}}</td>
                                      <td>
                                          <i class="ca ca-icn-view" title="View"></i>
                                          <i class="ca ca-icn-chat" title="Chat"></i>
                                          <i class="ca ca-icn-edit" title="Edit" (click)="showUpdate(book)" ></i>
                                          <i class="ca ca-icn-bin" title="Delite"></i>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                    </div>
                    <!-- <app-offload-booking-view *ngIf="standByCargoType == selectedStandByStatus.Offload"></app-offload-booking-view>
                    <app-cargo-not-received-view *ngIf="standByCargoType == selectedStandByStatus.NotReceived"></app-cargo-not-received-view> -->
                  </div>
                  <div class="row">
                    <div class="not-available" *ngIf="this.cargoBookingList.length == 0">
                      <img src="./assets/images/no-data.png" alt="No Content Data">
                      <div>Data not found.</div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade right" tabindex="-1" [ngClass]="{'in': updateStandByModalVisibleAnimate}"
    [ngStyle]="{'display': updateStandByModalVisible ? 'block' : 'none', 'opacity': updateStandByModalVisibleAnimate ? 1 : 0}">
    <div class="modal-dialog modal-lg modal-dialog-m modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Edit Booking</h2>
                <button type="button" class="close btn" data-dismiss="modal" (click)="closeUpdateStandBy()"
                    aria-label="Close"><span class="ca ca-icn-close"></span></button>
            </div>
            <app-stand-by-cargo-update [cargoBookingId]="bookingId"  (closePopup)="closeUpdateStandBy()" (submitSuccess)="onSubmitSuccess($event)"></app-stand-by-cargo-update>
        </div>
    </div>
</div>
