<div class="main-card">
    <div class="card-header px-0 pt-0">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h1>Flight Creation</h1>
            </div>
            <div>
                <button class="btn btn-primary" type="button" (click)="openAddFlight()">Create Flight</button>
            </div>
        </div>
    </div>
    <div class="card-body without-footer">
        <div class="row">
            <div class="d-flex justify-content-between align-items-center">
                <div class="filter-wrapper">
                    <div class="filter-group">
                        <label class="form-label">Flight Number</label>
                        <input [(ngModel)]="flightFilterQuery.flightNumber" type="text" class="form-control" (change)="onChangeFilter()">
                    </div>
                    <div class="filter-group">
                        <label class="form-label">Origin</label>
                        <app-auto-complete-dropdown #originAirportAutoComplete [data]="originAirpots" [keyword]="keyword"
                            (selectFileOutput)="selectedOrigin($event)" (changeSearch)="onClearOrigin()"
                            (clearSearch)="onClearOrigin()"></app-auto-complete-dropdown>
                    </div>
                    <div class="filter-group">
                        <label class="form-label">Destination</label>
                        <app-auto-complete-dropdown #destinationAirportAutoComplete [data]="destinationAirpots" [keyword]="keyword"
                            (selectFileOutput)="selectedDestination($event)" (changeSearch)="onClearDestination()"
                            (clearSearch)="onClearDestination()"></app-auto-complete-dropdown>
                    </div>
                    <div class="button">
                        <button class="btn sm btn-primary-outline" (click)="getFlightList()">Add Filter</button>
                    </div>
                    <div class="filter-clear" title="Filter Clear" *ngIf="isFiltered"><i class="ca ca-icn-close" (click)="clearFiltered()"></i></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table-content" *ngIf="!isLoading">
                <table class="table table-responsive">
                    <thead>
                        <th>Flight Number</th>
                        <th>Origin</th>
                        <th>Destination</th>
                        <th>Sector Count</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let flight of this.flights">
                        <td>{{flight.flightNumber}}</td>
                        <td>{{flight.originAirportCode +" - "+flight.originAirportName}}</td>
                        <td>{{flight.destinationAirportCode +" - "+flight.destinationAirportName}}</td>
                        <td>{{flight.sectorCount}}</td>
                        <td>
                            <i class="ca ca-icn-edit" title="Edit"></i>
                            <i class="ca ca-icn-bin" title="Delete"></i>
                        </td>
                      </tr>
                    </tbody>
                </table>
                <div class="not-available" *ngIf="totalCount == 0">
                  <img src="./assets/images/no-data.png" alt="No Content Data">
                  <div>Flight not available.</div>
              </div>
              <div class="d-flex align-items-center justify-content-center" *ngIf="totalCount > 0">
                  <app-pager [pageSize]="flightFilterQuery?.pageSize" [pageNumber]="flightFilterQuery?.pageIndex"
                      [totalCount]="totalCount" (pageChanged)="onPageChanged($event)"></app-pager>
                  <app-paging-header [totalCount]="totalCount" [pageSize]="flightFilterQuery?.pageSize"
                      [pageNumber]="flightFilterQuery?.pageIndex"></app-paging-header>
              </div>
            </div>
            <app-table-loader [columnCount]="4" [rowCount]="flightFilterQuery.pageSize" *ngIf="isLoading">
            </app-table-loader>
        </div>
    </div>
</div>

<div class="modal fade right" tabindex="-1" [ngClass]="{'in': modalVisibleAnimate}"
    [ngStyle]="{'display': modalVisible ? 'block' : 'none', 'opacity': modalVisibleAnimate ? 1 : 0}">
    <div class="modal-dialog modal-lg modal-dialog-m modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Create Flight</h2>
                <button type="button" class="close btn" data-dismiss="modal" (click)="closeAddFlight()"
                    aria-label="Close"><span class="ca ca-icn-close"></span></button>
            </div>
            <div>
                <app-flight-create (submitSuccess)="onFlightAdd()"
                    (closePopup)="closeAddFlight()" *ngIf="modalVisible"></app-flight-create>
            </div>
        </div>
    </div>
</div>
