<div class="modal-body">
    <div class="row">
        <app-al-a320200-type-one *ngIf="this.aircraftSubType.type == aircraftSubTypes.A320200TypeOne"></app-al-a320200-type-one>
        <app-al-b7879-type-one *ngIf="this.aircraftSubType.type == aircraftSubTypes.B7879TypeOne"></app-al-b7879-type-one>
        <app-al-b737400-type-one *ngIf="this.aircraftSubType.type == aircraftSubTypes.B737400TypeOne"></app-al-b737400-type-one>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary me-3" (click)="closeModal()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onAddLayout()">Add</button>
</div>