<div class="modal-body">
    <div class="row">
        <div class="booking-summary">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="on-seat" role="tabpanel" aria-labelledby="on-seat-tab">
                    <div class="flight-booking">
                        <div class="flight-body">
                            <div class="flight-detail">
                                <div class="block-1"><img src="/assets/images/flight-icons/head.svg"></div>
                                <div class="block-1 exit"><img src="/assets/images/flight-icons/exit.svg"></div>
                                <div class="front-seats">
                                    <div class="head-seat">
                                        <div class="sb-1 pt-0">
                                            <div><img src="/assets/images/flight-icons/hd-seat-1.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/hd-seat-2.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="sb-1 pb-0">
                                            <div><img src="/assets/images/flight-icons/hd-seat-1.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/hd-seat-2.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">1</div>
                                    </div>
                                </div>
                                <div class="front-seats">
                                    <div class="head-seat">
                                        <div class="sb-1 pt-0">
                                            <div><img src="/assets/images/flight-icons/hd-seat-1.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/hd-seat-2.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="sb-1 pb-0">
                                            <div><img src="/assets/images/flight-icons/hd-seat-1.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/hd-seat-2.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">2</div>
                                    </div>
                                </div>
                                <div class="flight-class">Economy</div>
                                <div class="body-seat">
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">3</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">4</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">5</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">6</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">7</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">8</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">9</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">10</div>
                                    </div>
                                </div>
                                <div class="block-1 exit"><img src="/assets/images/flight-icons/flight-exit.svg"></div>
                                <div class="body-seat">
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">11</div>
                                    </div>
                                </div>
                                <div class="block-1 exit"><img src="/assets/images/flight-icons/flight-exit.svg"></div>
                                <div class="body-seat">
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">12</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">13</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">14</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">15</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">16</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">17</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">18</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">19</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">20</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">21</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">22</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">23</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">24</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">25</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">26</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">27</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">28</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">29</div>
                                    </div>
                                </div>
                                <div class="block-1"><img src="/assets/images/flight-icons/flight-back.svg"></div>
                                <div class="block-1 exit"><img src="/assets/images/flight-icons/flight-exit.svg"></div>
                                <div class="block-1 pe-0"><img src="/assets/images/flight-icons/flight-end.svg"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary me-3" (click)="closeModal()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onAddLayout()">Add</button>
</div>