<div class="main-card">
    <div class="card-header px-0 pt-0">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h1>ULD Management</h1>
            </div>
        </div>
    </div>
    <div class="card-body without-footer">
        <div class="row">
            <div class="d-flex justify-content-between align-items-center">
                <div class="filter-wrapper">
                    <div class="filter-group ms-0">
                        <label class="form-label">Flight Number</label>
                        <input [(ngModel)]="flightNumber" type="text" class="form-control"
                            (change)="onChangeFilterFrm($event)">
                    </div>
                    <div class="filter-group">
                        <label class="form-label">Aircraft Number</label>
                        <input [(ngModel)]="aircraftNumber" type="text" class="form-control"
                            (change)="onChangeFilterFrm($event)">
                    </div>
                    <div class="filter-group">
                        <label class="form-label">Flight Date</label>
                        <input [(ngModel)]="flightDate" type="text" class="form-control" bsDatepicker
                            (change)="onChangeFilterFrm($event)">
                    </div>
                    <div class="button">
                        <button (click)="getFilteredList()" class="btn sm btn-primary-outline">Add Filter</button>
                    </div>
                    <div class="filter-clear" title="Filter Clear" [hidden]="!filterFormHasValue"><i
                            class="ca ca-icn-close" (click)="clearFilter()"></i></div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="this.palletPositions.length >0">
            <div class="pallet-potions">
                <div><h3>Pallet Positions</h3></div>
                <div class="potions">
                    <div class="row">
                        <div *ngFor="let item of this.palletPositions ;let indexOfelement=index;" class="col-md-3" >
                            <div class="pallet" [ngClass]="{'added': item.isPalletAssigned}" (click)="addPallet(item)">
                                <div class="details-group pt-0">
                                    <div class="lable">Pallet Position</div>
                                    <div>P{{item.position}}</div>
                                </div>
                                <div *ngIf="item.isPalletAssigned">
                                    <div class="details-group">
                                        <div class="lable">ULD Number</div>
                                        <div>{{item.serialNumber}}</div>
                                    </div>
                                    <div class="details-group">
                                        <div class="lable">Dimension (LxWxH)</div>
                                        <div>{{item.length+" cm "+item.width+" cm "+item.height+" cm"}}</div>
                                    </div>
                                    <div class="details-group">
                                        <div class="lable">Weight</div>
                                        <div>{{item.weight+" Kg"}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade right" tabindex="-1" [ngClass]="{'in': modalVisibleAnimate}"
    [ngStyle]="{'display': modalVisible ? 'block' : 'none', 'opacity': modalVisibleAnimate ? 1 : 0}">
    <div class="modal-dialog modal-lg modal-dialog-m modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Add Pallet</h2>
                <button type="button" class="close btn" data-dismiss="modal" (click)="closeAddPallet()"
                    aria-label="Close"><span class="ca ca-icn-close"></span></button>
            </div>
            <div>
                <app-pallet-create [position]="this.selectedPosition" (submitSuccess)="onPallettAdd()" (closePopup)="closeAddPallet()"  *ngIf="modalVisible"></app-pallet-create>
            </div>
        </div>
    </div>
</div>
