<div class="main-card">
    <div class="card-header px-0 pt-0">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h1>Pallet Managemnt</h1>
            </div>
        </div>
    </div>
    <div class="card-body without-footer">
        <div class="row">
            <div class="d-flex justify-content-between align-items-center">
                <div class="filter-wrapper">
                    <div class="filter-group ms-0">
                        <label class="form-label">Flight Number</label>
                        <input [(ngModel)]="flightNumber" type="text" class="form-control"
                            (change)="onChangeFilterFrm($event)">
                    </div>
                    <div class="filter-group">
                        <label class="form-label">Flight Date</label>
                        <input [(ngModel)]="flightDate" type="text" class="form-control" bsDatepicker
                            (change)="onChangeFilterFrm($event)">
                    </div>
                    <div class="button">
                        <button (click)="getFilteredList()" class="btn sm btn-primary-outline">Add Filter</button>
                    </div>
                    <div class="filter-clear" title="Filter Clear" [hidden]="!filterFormHasValue"><i
                            class="ca ca-icn-close" (click)="clearFilter()"></i></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="pallet-potions">
                <div><h3>Pallet Potions</h3></div>
                <div class="potions">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="pallet added">
                                <div class="details-group pt-0">
                                    <div class="lable">Pallet Potions</div>
                                    <div>P1</div>
                                </div>
                                <div class="details-group">
                                    <div class="lable">Dimension</div>
                                    <div>25cm, 40cm, 50cm</div>
                                </div>
                                <div class="details-group">
                                    <div class="lable">Weight</div>
                                    <div>50Kg</div>
                                </div>
                                <div class="details-group">
                                    <div class="lable">Action</div>
                                    <div><i class="ca ca-icn-edit pe-0"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="pallet">
                                <div class="details-group pt-0">
                                    <div class="lable">Pallet Potions</div>
                                    <div>P2</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="pallet">
                                <div class="details-group pt-0">
                                    <div class="lable">Pallet Potions</div>
                                    <div>P3</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="pallet">
                                <div class="details-group pt-0">
                                    <div class="lable">Pallet Potions</div>
                                    <div>P4</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="pallet">
                                <div class="details-group pt-0">
                                    <div class="lable">Pallet Potions</div>
                                    <div>P5</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="pallet">
                                <div class="details-group pt-0">
                                    <div class="lable">Pallet Potions</div>
                                    <div>P6</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="pallet">
                                <div class="details-group pt-0">
                                    <div class="lable">Pallet Potions</div>
                                    <div>P7</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="pallet">
                                <div class="details-group pt-0">
                                    <div class="lable">Pallet Potions</div>
                                    <div>P8</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="pallet">
                                <div class="details-group pt-0">
                                    <div class="lable">Pallet Potions</div>
                                    <div>P9</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="pallet">
                                <div class="details-group pt-0">
                                    <div class="lable">Pallet Potions</div>
                                    <div>P10</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="add-number">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">Pallet Number</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row justify-content-center">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="form-label">Length</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="form-label">Width</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="form-label">Height</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="form-label">Unit</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-2">
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Weight</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">unit</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="text-end">
                                <button class="btn btn-primary-outline">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- <div *ngIf="!isLoading" class="table-content">
                <table class="table table-responsive">
                    <thead>
                        <th>MaxWeight</th>
                        <th>CurrentWeight</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of this.palletPositions">
                            <td>{{item.maxWeight}}</td>
                            <td>{{item.currentWeight}}</td>
                        </tr>
                    </tbody>
                </table>
            </div> -->
        </div>
    </div>
</div>
