<div class="container-fluid p-0">
  <div class="login-wrapper">
    <div class="login-container">
      <app-login-left-side></app-login-left-side>
      <div class="login-right-wrapper">
        <div class="login-info">
          <div class="greeting-text">
            <h1 class="font-600">New Password</h1>
          </div>
          <div class="login-form">
            <form [formGroup]='passwordForm' (ngSubmit)="save()">
              <div class="form-group">
                <label class="form-label">Password</label>
                <app-white-space-input [formControl]='passwordForm.controls["password"]' [type]="'password'" [label]='"password"' [tabindex] ="1">
                </app-white-space-input>
              </div>
              <div class="form-group">
                <label class="form-label">Confirm Password</label>
                <app-white-space-input [formControl]='passwordForm.controls["confirmPassword"]' [type]="'password'" [label]='"confirmPassword"' [tabindex] ="1" >
                </app-white-space-input>
              </div>
              <div class="form-group forgot-password">
                <div>
                  <button type="button" class="btn btn-secondary" style="margin-right: 5px;">Back</button>
                  <button  class="btn btn-primary-outline" type="submit">
                    <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
                    Save</button>

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


