<div class="main-card">
    <div class="card-header px-0 pt-0">
        <div class="d-flex justify-content-between align-items-center">
            <div><h1>Booking Summary</h1></div>
        </div>
    </div>
    <div class="card-body without-footer">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label">Flight Number</label>
                    <input type="text"  class="form-control" [(ngModel)]="bookingSummaryQuery.flightNumber">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label">Flight Date</label>
                    <input type="text"  class="form-control" [(ngModel)]="bookingSummaryQuery.flightDate" bsDatepicker>
                </div>
            </div>
            <div class="col-md-3">
                <div><button type="submit" class="btn btn-primary-outline ms-5 mb-2" (click)="find()">Find</button></div>
            </div>
        </div>
        <div class="booking-details">
            <h3>View Booking Details</h3>
            <div class="details-box-section">
                <div class="details-box">
                    <h4>Total Booked Weight (Kg)</h4>
                    <div class="value"><span class="">{{cargoBookingSummary.cargoPositionSummary.totalBookedWeight}}</span><span>/ {{cargoBookingSummary.cargoPositionSummary.totalWeight}}</span></div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [style.width]="cargoBookingSummary.cargoPositionSummary.weightPercentage| percent"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            {{cargoBookingSummary.cargoPositionSummary.weightPercentage | percent}}</div>
                    </div>
                </div>
                <div class="details-box">
                    <h4>Total Booked Volume (m3)</h4>
                    <div class="value"><span class="">400</span></div>
                    <!-- <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                    </div> -->
                </div>
                <div class="details-box">
                    <h4>Total Occupied Seats</h4>
                    <div class="value"><span class="">{{cargoBookingSummary.cargoPositionSummary.totalOccupiedOnSeats}}</span><span>/ {{cargoBookingSummary.cargoPositionSummary.totalOnSeats}}</span></div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [style.width]="cargoBookingSummary.cargoPositionSummary.onSeatsPercentage| percent"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            {{cargoBookingSummary.cargoPositionSummary.onSeatsPercentage | percent}}
                        </div>
                    </div>
                </div>
                <div class="details-box">
                    <h4>Total Occupied Under Seats</h4>
                    <div class="value"><span class="">{{cargoBookingSummary.cargoPositionSummary.totalOccupiedUnderSeats}}</span><span>/ {{cargoBookingSummary.cargoPositionSummary.totalUnderSeats}}</span></div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [style.width]="cargoBookingSummary.cargoPositionSummary.underSeatsPercentage| percent"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            {{cargoBookingSummary.cargoPositionSummary.underSeatsPercentage | percent}}</div>
                    </div>
                </div>
                <div class="details-box">
                    <h4>Total Occupied Overhead Bins</h4>
                    <div class="value"><span class="">{{cargoBookingSummary.cargoPositionSummary.totalOccupiedOverheads}}</span><span>/ {{cargoBookingSummary.cargoPositionSummary.totalOverheads}}</span></div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [style.width]="cargoBookingSummary.cargoPositionSummary.overheadPercentage| percent" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            {{cargoBookingSummary.cargoPositionSummary.overheadPercentage | percent}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="booking-summary">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="on-seat-tab" data-bs-toggle="tab" data-bs-target="#on-seat" type="button" role="tab" aria-controls="on-seat" aria-selected="true">On Seat</button>
                    <button class="nav-link" id="under-seat-tab" data-bs-toggle="tab" data-bs-target="#under-seat" type="button" role="tab" aria-controls="under-seat" aria-selected="false">Under Seat</button>
                    <button class="nav-link" id="overhead-bin-tab" data-bs-toggle="tab" data-bs-target="#overhead-bin" type="button" role="tab" aria-controls="overhead-bin" aria-selected="false">Overhead Bin</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="on-seat" role="tabpanel" aria-labelledby="on-seat-tab">
                    <div class="flight-booking">
                        <div class="flight-body">
                            <div class="flight-detail">
                                <div class="block-1"><img src="/assets/images/flight-icons/head.svg"></div>
                                <div class="block-1 exit"><img src="/assets/images/flight-icons/exit.svg"></div>
                                <div class="front-seats">
                                    <div class="head-seat">
                                        <div class="sb-1 pt-0">
                                            <div><img src="/assets/images/flight-icons/hd-seat-1.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/hd-seat-2.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="sb-1 pb-0">
                                            <div><img src="/assets/images/flight-icons/hd-seat-1.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/hd-seat-2.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">1</div>
                                    </div>
                                </div>
                                <div class="front-seats">
                                    <div class="head-seat">
                                        <div class="sb-1 pt-0">
                                            <div><img src="/assets/images/flight-icons/hd-seat-1.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/hd-seat-2.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="sb-1 pb-0">
                                            <div><img src="/assets/images/flight-icons/hd-seat-1.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/hd-seat-2.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">2</div>
                                    </div>
                                </div>
                                <div class="flight-class">Economy</div>
                                <div class="body-seat">
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">3</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">4</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">5</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">6</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">7</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">8</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">9</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">10</div>
                                    </div>
                                </div>
                                <div class="block-1 exit"><img src="/assets/images/flight-icons/flight-exit.svg"></div>
                                <div class="body-seat">
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">11</div>
                                    </div>
                                </div>
                                <div class="block-1 exit"><img src="/assets/images/flight-icons/flight-exit.svg"></div>
                                <div class="body-seat">
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">12</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">13</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">14</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">15</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">16</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">17</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">18</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">19</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">20</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">21</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">22</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">23</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">24</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">25</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">26</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">27</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">28</div>
                                    </div>
                                    <div class="seat-row">
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">F</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">E</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">D</span></div>
                                        </div>
                                        <div class="seat-block">
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">C</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">B</span></div>
                                            <div><img src="/assets/images/flight-icons/body-seat.svg"><span class="point">A</span></div>
                                        </div>
                                        <div class="sr-number">29</div>
                                    </div>
                                </div>
                                <div class="block-1"><img src="/assets/images/flight-icons/flight-back.svg"></div>
                                <div class="block-1 exit"><img src="/assets/images/flight-icons/flight-exit.svg"></div>
                                <div class="block-1 pe-0"><img src="/assets/images/flight-icons/flight-end.svg"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade " id="under-seat" role="tabpanel" aria-labelledby="under-seat-tab">Test 2</div>
                <div class="tab-pane fade" id="overhead-bin" role="tabpanel" aria-labelledby="overhead-bin-tab">Test 3</div>
            </div>
        </div>
    </div>
</div>

