<div class="main-card">
    <div class="card-header px-0 pt-0">
        <div class="d-flex justify-content-between align-items-center">
            <div><h1>Booking Summary</h1></div>
        </div>
    </div>
    <div class="card-body without-footer">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label">Flight Number</label>
                    <input type="text"  class="form-control">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label">Flight Date</label>
                    <input type="text"  class="form-control">
                </div>
            </div>
            <div class="col-md-3">
                <div><button type="submit" class="btn btn-primary-outline ms-5 mb-2">Find</button></div>
            </div>
        </div>
    </div>
</div>

