<div class="main-card">
    <div class="card-header px-0 pt-0">
        <div class="d-flex justify-content-between align-items-center">
            <div><h1>AWB Stack Managemnt</h1></div>
        </div>
    </div>
    <div class="card-body without-footer">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label">Start of the Sequence Number</label>
                    <input type="number"  class="form-control">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label">End of the Sequence Number</label>
                    <input type="number"  class="form-control">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label">Booking Agent Name(s)</label>
                    <input type="text"  class="form-control">
                    <div class="list-item">
                        <div class="item">
                            <div>Test User 1</div>
                            <i class="ca ca-icn-verify"></i>
                        </div>
                        <div class="item">
                            <div>Test User 1</div>
                            <i class="ca ca-icn-verify"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-between align-items-center">
                <div class="filter-wrapper">
                    <div class="filter-group">
                        <label class="form-label">Start of the Sequence Number</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="filter-group">
                        <label class="form-label">End of the Sequence Number</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="filter-group">
                        <label class="form-label">Agent Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="button">
                        <button class="btn sm btn-primary-outline">Add Filter</button>
                    </div>
                    <div class="filter-clear" title="Filter Clear"><i class="ca ca-icn-close"></i></div>
                </div>
            </div>
            <div class="table-content">
                <table class="table table-responsive">
                    <thead>
                        <th>Agent Name</th>
                        <th>Start Squence Number</th>
                        <th>End Sequence Number</th>
                        <th>Last Used Number</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Test User Name 1</td>
                            <td>123456</td>
                            <td>123456</td>
                            <td>12354</td>
                        </tr>
                        <tr>
                            <td>Test User Name 1</td>
                            <td>123456</td>
                            <td>123456</td>
                            <td>12354</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>