<div class="main-card">
    <div class="card-header px-0 pt-0">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h1>AWB Stack Management</h1>
            </div>
        </div>
    </div>
    <div class="card-body without-footer">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label">Booking Agent Name(s)</label>
                    <app-auto-complete-dropdown [data]="cargoAgents" [keyword]="keyword"
                        (selectFileOutput)="selectedCargoAgent($event)"></app-auto-complete-dropdown>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label">Start of the Sequence Number</label>
                    <input [(ngModel)]="startSequenceNumber" type="number" class="form-control"
                        (change)="onChangeFilterFrm($event)">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label">End of the Sequence Number</label>
                    <input [(ngModel)]="endSequenceNumber" type="number" class="form-control"
                        (change)="onChangeFilterFrm($event)">
                </div>
            </div>
            <div class="col-md-3">
                <div class="button"><button (click)="addAWBStack()" class="btn  btn-primary-outline">Add</button></div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-between align-items-center">
                <div class="filter-wrapper">
                    <div class="filter-group">
                        <label class="form-label">Agent Name</label>
                        <input [(ngModel)]="cargoAgentName" type="text" class="form-control"
                            (change)="onChangeFilterFrm($event)">
                    </div>
                    <div class="button">
                        <button (click)="getAWBStackList()" class="btn sm btn-primary-outline">Add Filter</button>
                    </div>
                    <div class="filter-clear" title="Filter Clear" [hidden]="!filterFormHasValue"><i
                            class="ca ca-icn-close" (click)="clearFilter()"></i></div>
                </div>
            </div>
            <div class="table-content" *ngIf="!isLoading">
                <table class="table table-responsive">
                    <thead>
                        <th>Agent Name</th>
                        <th>Start Sequence Number</th>
                        <th>End Sequence Number</th>
                        <th>Last Used Number</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of this.awbStackList">
                            <td>{{item.cargoAgentName}}</td>
                            <td>{{GetFormattedAWBNumber(item.startSequenceNumber)}}</td>
                            <td>{{GetFormattedAWBNumber(item.endSequenceNumber)}}</td>
                            <td>{{GetFormattedAWBNumber(item.lastUsedSequenceNumber)}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="not-available" *ngIf="totalCount == 0">
                    <img src="./assets/images/no-data.png" alt="No Content Data">
                    <div>AWB stack not available.</div>
                </div>
                <div class="d-flex align-items-center justify-content-center" *ngIf="totalCount > 0">
                    <app-pager [pageSize]="awbStackFilterQuery?.pageSize" [pageNumber]="awbStackFilterQuery?.pageIndex"
                        [totalCount]="totalCount" (pageChanged)="onPageChanged($event)"></app-pager>
                    <app-paging-header [totalCount]="totalCount" [pageSize]="awbStackFilterQuery?.pageSize"
                        [pageNumber]="awbStackFilterQuery?.pageIndex"></app-paging-header>
                </div>
            </div>
            <app-table-loader [columnCount]="4" [rowCount]="awbStackFilterQuery.pageSize" *ngIf="isLoading">
            </app-table-loader>
        </div>
    </div>
</div>