<!-- <div>
  <h3>Booking Lists</h3>
  <div class="details">
    <details open>
      <summary>
        <div *ngFor="let booking of cargoBookings">
          <div class="">
            <div>Booking Id</div>
            <div>{{booking.bookingNumber}}</div>
          </div>
          <div>
            <div>Total Weight(Kg)</div>
            <div>{{booking.totalWeight}}</div>
          </div>
          <div>
            <div>Total Volume(m3)</div>
            <div>{{booking.totalVolume != 0 ? (booking.totalVolume)/1000000 : 0}}</div>
          </div>
          <div>
            <div>AWB Number</div>
            <div>{{booking.awbTrackingNumber==0?' n/a ': booking.awbTrackingNumber}}</div>
          </div>
        </div>
      </summary>
    </details>
  </div>
  <div class="table-content">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <th>Sector Type</th>
          <th>Origin Airport</th>
          <th>Destination Airport</th>
          <th>Actions</th>
      </thead>
      </table>
    </div>
  </div>
</div> -->

<div>
  <div>
    <div *ngFor="let booking of cargoBookings">
      <div class="details booking-lists">
        <details>
          <summary>
            <div class="lists-head">
              <div class="label">Booking Id</div>
              <div>{{booking.bookingNumber}}</div>
            </div>
            <div class="lists-head">
              <div class="label">Total Weight(Kg)</div>
              <div>{{booking.totalWeight}}</div>
            </div>
            <div class="lists-head">
              <div class="label">Total Volume(m3)</div>
              <div>{{booking.totalVolume != 0 ? (booking.totalVolume)/1000000 : 0}}</div>
            </div>
            <div class="lists-head">
              <div class="label">AWB Number</div>
              <div>{{booking.awbTrackingNumber==0?' n/a ': booking.awbTrackingNumber}}</div>
            </div>
          </summary>
          <div class="card-details p-0">
            <div class="table-content">
              <div class="table-responsive">
                <table class="table mt-0">
                  <thead>
                    <th>Package ID</th>
                    <th>Weight (kg)</th>
                    <th>Dimensions(L x W x H) cm</th>
                    <th>Pallet Position</th>
                    <th></th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let package of booking?.packageItems">
                      <td>{{package.packageRefNumber}}</td>
                      <td>{{package.weight}}</td>
                      <td>{{package.length +' x '+ package.width +' x '+ package.height}}</td>
                      <td>
                        <div class="form-group mb-0">
                          <select class="form-control" [(ngModel)]="package.cargoPositionId">
                            <option disable></option>
                            <option [ngValue]="pos.id" *ngFor="let pos of (bookingDetail.cargoPositions | position)">P{{pos.position}}</option>
                          </select>
                        </div>
                      </td>
                      <td>
                        <i class="ca ca-icn-verify" (click)="save(package)" title="Save"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </details>
      </div>
    </div>
  </div>
</div>
