<div class="tab-pane fade show active" id="offloaded-bookings" role="tabpanel" aria-labelledby="offloaded-bookings-tab">
  <div class="table-content">
      <table class="table table-responsive">
          <thead>
              <th>Booking ID</th>
              <th>AWB Number</th>
              <th>Booking Agent</th>
              <th>From to</th>
              <th>Booking Date</th>
              <th>Status</th>
              <th>No.Rec. Pcs</th>
              <th>Total Rec. Weight (kg)</th>
              <th>Total Rec. Volume (m3)</th>
              <th>Actions</th>
          </thead>
          <tbody>
              <tr>
                  <td>B2023010029</td>
                  <td>80011400025</td>
                  <td>ECX Global Forwarding (M) Sdn Bhd</td>
                  <td>
                      <span class="status-chip accepted">CAN - CAK</span>
                  </td>
                  <td>3/5/2022</td>
                  <td>
                      <span class="status-chip accepted">Received</span>
                  </td>
                  <td>15</td>
                  <td>580</td>
                  <td>0.029008</td>
                  <td>
                      <i class="ca ca-icn-view" title="View"></i>
                      <i class="ca ca-icn-chat" title="Chat"></i>
                      <i class="ca ca-icn-edit" title="Edit"></i>
                      <i class="ca ca-icn-bin" title="Delite"></i>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
