<div class="main-card">
    <div class="card-header px-0 pt-0">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h1>Booking Summary</h1>
            </div>
        </div>
    </div>
    <div class="card-body without-footer">
        <div class="row">
            <div class="d-flex justify-content-between align-items-center">
                <div class="filter-wrapper">
                    <div class="filter-group">
                        <label class="form-label">Flight Number</label>
                        <input [(ngModel)]="flightNumber" type="text" class="form-control"
                            (change)="onChangeFilterFrm($event)">
                    </div>
                    <div class="filter-group">
                        <label class="form-label">Departure Date</label>
                        <input [(ngModel)]="flightDate" type="text" class="form-control" bsDatepicker
                            (change)="onChangeFilterFrm($event)">
                    </div>
                    <div class="button">
                        <button (click)="getFilteredList()" class="btn sm btn-primary-outline">Add Filter</button>
                    </div>
                    <div class="filter-clear" title="Filter Clear" [hidden]="!filterFormHasValue"><i
                            class="ca ca-icn-close" (click)="clearFilter()"></i></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngIf="!isLoading" class="table-content">
                <table class="table table-responsive">
                    <thead>
                        <th>Flight Number</th>
                        <th>Departure Date</th>
                        <th>Departure Time</th>
                        <th>Cut off Time</th>
                        <th>Origin</th>
                        <th>Destination</th>
                        <th>Aircraft Type</th>
                        <th>Total Booked Weight(Kg)</th>
                        <th>Total Booked Volume(m3)</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of this.bookingSummarys">
                            <td>{{item.flightNumber}}</td>
                            <td>{{item.scheduledDepartureDateTime | date}}</td>
                            <td>{{item.scheduledDepartureDateTime | date :'shortTime'}}</td>
                            <td>-</td>
                            <td>{{item.originAirportCode}}</td>
                            <td>{{item.destinationAirportCode}}</td>
                            <td>{{item.aircraftSubTypeName}}</td>
                            <td>{{item.totalBookedWeight}}</td>
                            <td>{{convertcm3Tom3(item.totalBookedVolume)}}</td>
                            <td>
                                <i class="ca ca-icn-view" title="View" (click)="onViewDetail(item)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="not-available" *ngIf="totalCount == 0">
                    <img src="./assets/images/no-data.png" alt="No Content Data">
                    <div>Bookings not available.</div>
                </div>
                <div class="d-flex align-items-center justify-content-center" *ngIf="totalCount > 0">
                    <app-pager [pageSize]="bookingSummaryFilterQuery?.pageSize" [pageNumber]="bookingSummaryFilterQuery?.pageIndex"
                        [totalCount]="totalCount" (pageChanged)="onPageChanged($event)"></app-pager>
                    <app-paging-header [totalCount]="totalCount" [pageSize]="bookingSummaryFilterQuery?.pageSize"
                        [pageNumber]="bookingSummaryFilterQuery?.pageIndex"></app-paging-header>
                </div>
            </div>
            <app-table-loader [columnCount]="7" [rowCount]="bookingSummaryFilterQuery.pageSize" *ngIf="isLoading">
            </app-table-loader>
        </div>
    </div>
</div>

