<div>
  <div class="d-flex justify-content-between base-summary">
    <div>Flight Number</div>
    <div class="summary" >3G3804</div>
  </div>
  <div class=" d-flex justify-content-between base-summary">
    <div >Aircraft Type</div>
    <div class="summary"  ></div>
  </div>
  <div class=" d-flex justify-content-between base-summary">
    <div >Acreg.</div>
    <div class="summary"  ></div>
  </div>
  <div class=" d-flex justify-content-between base-summary">
    <div >Dep. Date</div>
    <div class="summary"  ></div>
  </div>
  <div class=" d-flex justify-content-between base-summary">
    <div >Destination</div>
    <div class="summary"  ></div>
  </div>
  <div class=" d-flex justify-content-between base-summary">
    <div >STD</div>
    <div class="summary"  ></div>
  </div>
  <div class=" d-flex justify-content-between base-summary">
    <div >STA</div>
    <div class="summary"  ></div>
  </div>
  <div class=" d-flex justify-content-between base-summary">
    <div >ETD</div>
    <div class="summary"  ></div>
  </div>
  <div class=" d-flex justify-content-between base-summary">
    <div >ETA</div>
    <div class="summary"  ></div>
  </div>
  <div class=" d-flex justify-content-between base-summary">
    <div >ATD</div>
    <div class="summary"  ></div>
  </div>
  <div class=" d-flex justify-content-between base-summary">
    <div >ATA</div>
    <div class="summary"  ></div>
  </div>

</div>
