<div class="modal-body">
  <div class="d-flex justify-content-between pb-3">
    <div class="label">Flight Number</div>
    <div>{{flightScheduleLink?.flightNumber}}</div>
  </div>
  <div class="d-flex justify-content-between pb-3">
    <div class="label">Aircraft Type</div>
    <div>{{flightScheduleLink?.aircraftSubTypeName}}</div>
  </div>
  <div class="d-flex justify-content-between pb-3">
    <div class="label">Acreg.</div>
    <div>{{flightScheduleLink?.aircraftRegNo? flightScheduleLink?.aircraftRegNo: "-"}}</div>
  </div>
  <div class="d-flex justify-content-between pb-3">
    <div class="label">Dep. Date</div>
    <div>{{flightScheduleLink?.scheduledDepartureDateTime| date}}</div>
  </div>
  <div class="d-flex justify-content-between pb-3">
    <div class="label">Origin</div>
    <div>{{flightScheduleLink?.originAirportName}}</div>
  </div>
  <div class="d-flex justify-content-between pb-3">
    <div class="label">Destination</div>
    <div>{{flightScheduleLink?.destinationAirportName}}</div>
  </div>
  <div class="d-flex justify-content-between pb-3">
    <div class="label">STD</div>
    <div>{{flightScheduleLink?.scheduledDepartureDateTime | date :'shortTime'}}</div>
  </div>
  <div class="d-flex justify-content-between pb-3">
    <div class="label">STA</div>
    <div>{{(flightScheduleLink?.scheduledArrivalDateTime !== null) ? (flightScheduleLink?.scheduledArrivalDateTime | date: 'shortTime') : "-" }}</div>
  </div>
  <div class="d-flex justify-content-between pb-3">
    <div class="label">ETD</div>
    <div>{{(flightScheduleLink?.estimatedDepartureDateTime !== null) ? (flightScheduleLink?.estimatedDepartureDateTime | date: 'shortTime') : "-" }}</div>
  </div>
  <div class="d-flex justify-content-between pb-3">
    <div class="label">ETA</div>
    <div>{{(flightScheduleLink?.estimatedArrivalDateTime !== null) ? (flightScheduleLink?.estimatedArrivalDateTime | date: 'shortTime') : "-" }}</div>
  </div>
  <div class="d-flex justify-content-between pb-3">
    <div class="label">ATD</div>
    <div>{{(flightScheduleLink?.actualDepartureDateTime !== null) ? (flightScheduleLink?.actualDepartureDateTime | date: 'shortTime') : "-" }}</div>
  </div>
  <div class="d-flex justify-content-between pb-3">
    <div class="label">ATA</div>
    <div>{{(flightScheduleLink?.actualArrivalDateTime !== null) ? (flightScheduleLink?.actualArrivalDateTime | date: 'shortTime') : "-" }}</div>
  </div>
  <div class="booking-status-section">
    <div class="booking-status">
      <div>Pre Bookings</div>
      <span class="assign-aircraft-status-chip" [ngClass]="{'assign': isVerifiedBooking== true, 'notassign': isVerifiedBooking == false}">{{isVerifiedBooking== true? 'Verified':'Not Verify'}}</span>
    </div>
    <div class="view-booking-link" (click)="viewBooking()">View Bookings</div>
  </div>
  <div class="d-flex justify-content-between pb-3">
    <div class="label">Actual Load Bookings</div>
    <div>5</div>
  </div>
  <div class="d-flex justify-content-between pb-3">
    <div class="label">Off Load Bookings</div>
    <div>3</div>
  </div>
  <div class="d-flex justify-content-between pb-3">
    <div class="label">Delete Bookings</div>
    <div>1</div>
  </div>
  <div class="d-flex justify-content-between pb-3">
    <div class="label">Assign Status</div>
    <div><span class="assign-aircraft-status-chip assign">Completed</span></div>
  </div>
  <div class="d-flex justify-content-between pb-3">
    <div class="label">Dispatch</div>
    <div>Yes</div>
  </div>
  <div class="d-flex justify-content-between pb-3">
    <div class="label">Document (LIR)</div>
    <div class="link">View</div>
  </div>
</div>
