/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import 'https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap';

@import "assets/scss/theme";
@import "assets/scss/mixins";
@import "assets/scss/variables";
@import "assets/css/style.css";
@import "assets/scss/layout";
@import "assets/scss/schedule";


@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
/* You can add global styles to this file, and also import other style files */

body {
    font-family: $font-family;
    font-size: 0.875rem;
    background-color: $light-blue;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    font-size: 1.563rem;
}

h2 {
    font-size: 1.125rem;
}

h3 {
    font-size: 1rem;
    font-weight: 400;
}

p {
    font-size: 0.875rem;
    line-height: 1.563rem;
}

a {
    text-decoration: none;
    color: $brand-primary;
    font-size: 0.875rem;
}

.font- {
    &10 {
        font-size: 0.625rem;
    }

    &12 {
        font-size: 0.75rem;
    }

    &14 {
        font-size: 0.875rem;
    }

    &16 {
        font-size: 1rem;
    }

    &18 {
        font-size: 1.125rem;
    }

    &25 {
        font-size: 1.563rem;
    }

    &300 {
        font-weight: 300;
    }

    &400 {
        font-weight: 400;
    }

    &500 {
        font-weight: 500;
    }

    &600 {
        font-weight: 600;
    }
}

.mtop-50 {
    margin-top: 50px;
}

.text-red {
    color: $red !important;
}

.label {
    color: $gray;
}

.modal-xxl {
    max-width: 1250px;
}

.login-wrapper {
    width: 100%;

    .login-container {
        width: 100%;
        display: flex;

        .login-left {
            width: 25rem;
            background-color: $brand-primary;
            height: 100vh;
            background-image: url(../src/assets/images/bg-pattern.png);
            padding: 1.875rem 1.875rem;
            display: flex;
            flex-direction: column;

            .content-left {
                flex-grow: 1;

                .logo {
                    margin-bottom: 8.125rem;
                }

                .welcome {
                    text-align: left;

                    h1,
                    p {
                        color: $default-white;
                    }
                }
            }

            .footer {
                color: $default-white;
                font-size: 0.75rem;
                text-align: center;
            }
        }

        .login-right-wrapper {
            flex: 1 1 auto;
            background-color: $default-white;
            position: relative;

            .lan-translate {
                display: flex;
                justify-content: end;
                padding: 0.938rem;
                cursor: pointer;
            }

            .login-info {
                width: 100%;
                max-width: 27.5rem;
                margin: 0 auto;
                padding: 9rem 0;

                .greeting-text {
                    margin-bottom: 2.5rem;
                }

                &.sign-up {
                    max-width: 100%;
                    padding: 01.875rem;
                }
            }

            .forgot-password {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}

// Input Field
.form-group {
    margin-bottom: 1.875rem;

    .form-label {
        font-size: 0.75rem;
        margin-bottom: 0.313rem;
        color: $form-label;

        .loading {
            display: block;
            background: #E9EBEF;
            height: 15px;
            width: 50px;
            border-radius: 5px;
        }
    }

    .form-control {
        @include inputField(2.5rem);

        &.loading {
            background: linear-gradient(-45deg, #fff, #E9EBEF, #fff, #E9EBEF);
            background-size: 400% 400%;
            animation: gradient 1s ease infinite;
            display: block;
            padding: 20px 0;
        }

        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }
    }

    .select-input {
        .autocomplete-container {
            box-shadow: none;

            .input-container {
                input {
                    height: 2.5rem;
                    color: $font-color;
                    border: 1px solid $input-border;
                    border-radius: 0.25rem;
                }
            }
        }

        &.loading {
            background: linear-gradient(-45deg, #fff, #E9EBEF, #fff, #E9EBEF);
            background-size: 400% 400%;
            animation: gradient 1s ease infinite;
            display: block;
            width: 100%;

            // padding: 20px 0;
            .autocomplete-container {
                .input-container {
                    display: none;
                }
            }
        }
    }
}

.filter-wrapper {
    display: flex;
    align-items: center;

    .filter-group {
        margin-left: 0.625rem;

        .form-label {
            font-size: 0.625rem;
            margin-bottom: 0.25rem;
            color: $form-label;
        }

        .form-control {
            max-width: 10.625rem;
            @include inputField(1.563rem);
        }

        .autocomplete-container {
            height: auto;
            box-shadow: none;

            .input-container input {
                max-width: 10.625rem;
                @include inputField(1.563rem);
                border: 1px solid $input-border;
                border-radius: 0.25rem;
            }
        }
    }

    .button {
        margin-top: 1.438rem;
        margin-left: 0.625rem;
    }

    .filter-clear {
        background-color: $light-blue;
        border: 0.063rem solid $blue;
        border-radius: 3.125rem;
        text-align: center;
        margin-top: 1.438rem;
        margin-left: 0.625rem;
        cursor: pointer;

        i {
            font-size: 0.563rem;
            color: $brand-primary;
            padding: 0rem 0.375rem;
        }
    }
}


// Custom Checkbox
.cu-check {
    .cu-checkbox {
        font-size: 0.875rem;
        display: block;
        position: relative;
        padding-left: 2.188rem;
        margin-bottom: 0.75rem;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: inline-block;
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            &:checked ~ .checkmark {
                background-color: $brand-primary;
            }
            &:checked ~ .checkmark:after {
                display: block;
            }
        }
        .checkmark {
            &:after {
                left: 0.563rem;
                top: 0.313rem;
                width: 0.313rem;
                height: 0.625rem;
                border: solid $default-white;
                border-width: 0 0.188rem 0.188rem 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 1.563rem;
        width: 1.563rem;
        border: 0.063rem solid $input-border;
        border-radius: 0.188rem;

        &.cu-radio {
            border-radius: 50%;
            &::after {
                top: 8px;
                left: 8px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: white;
            }
        }

        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }
}

// Buttons
.btn {
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 500;
    padding-right: 0.938rem;
    padding-left: 0.938rem;

    &.sm {
        height: 1.563rem;
        padding: 0.063rem 0.938rem;
    }

    &.btn-primary {
        background-color: $brand-primary;
        border-color: $brand-primary;
        color: $default-white;

        &:hover {
            background-color: $btn-hover;
            border-color: $btn-hover;
        }
    }

    &.btn-primary-outline {
        background-color: $default-white;
        border-color: $brand-primary;
        color: $brand-primary;

        &:hover {
            background-color: $brand-primary;
            border-color: $brand-primary;
            color: $default-white;
        }
    }

    &.btn-secondary {
        background-color: $gray;
        border-color: $gray;
        color: $default-white;

        &:hover {
            background-color: $btn-secondary;
            border-color: $btn-secondary;
        }
    }

    &.btn-secondary-outline {
        background-color: $default-white;
        border-color: $gray;
        color: $gray;

        &:hover {
            background-color: $gray;
            border-color: $gray;
            color: $default-white;
        }
    }

    &.btn-success {
        background-color: $green;
        border-color: $green;

        &:hover {
            background-color: $success-hover;
            border-color: $success-hover;
            color: $default-white;
        }
    }
}
.link {
    color: $brand-primary;
    font-weight: 500;
}
.icon-btn {
    color: $brand-primary;
    font-size: 16px;
    cursor: pointer;
    margin-right: 16px;
    &:last-child {
        margin-right: 0;
    }
}

// Table
.table-content {
    .table {
        margin-top: 1.25rem;

        thead {
            background-color: $off-white;

            th {
                font-size: 0.875rem;
                font-weight: 500;
                padding: 0.625rem;

                .loading {
                    background: linear-gradient(-45deg, #fff, #D0D3D8, #fff, #D0D3D8);
                    background-size: 400% 400%;
                    animation: gradient 1s ease infinite;
                    height: 15px;
                    display: block;
                    margin: 5px;
                }

                @keyframes gradient {
                    0% {
                        background-position: 0% 50%;
                    }

                    50% {
                        background-position: 100% 50%;
                    }

                    100% {
                        background-position: 0% 50%;
                    }
                }
            }
        }

        tbody {
            border-top: 0rem;

            tr {
                border-bottom: 0.063rem solid $off-white;

                td {
                    padding: 0.625rem;

                    i {
                        color: $brand-primary;
                        font-size: 1rem;
                        padding: 0 0.938rem;
                        cursor: pointer;
                    }

                    i:last-child {
                        padding-right: 0rem;
                    }

                    .loading {
                        background: linear-gradient(-45deg, #fff, #E9EBEF, #fff, #E9EBEF);
                        background-size: 400% 400%;
                        animation: gradient 1s ease infinite;
                        height: 14px;
                        display: block;
                        margin: 7px;
                    }
                }
            }
        }
    }
}

.table-textlenth {
    width: 150px;

    span {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        /* number of lines to show */
        line-clamp: 1;
        -webkit-box-orient: vertical;
    }
}

// Booking status label
.booking-status-label {
    display: flex;
    align-items: center;
    padding: 16px 0;
    .check-label {
        color: $default-white;
        font-size: 14px;
        padding: 6px;
        width: fit-content;
        border-radius: 5px;
        margin-right: 16px;
        &.actual-booking {
            background-color: $green;
        }
        &.offload-booking {
            background-color: $orange
        }
    }
}
.check-booking {
    width: 6px;
    height: 23px;
    display: block;
    margin-left: 35px;
    border-radius: 50px;
    &.actual {
        background-color: $green;
    }
    &.offload {
        background-color: $orange;
    }
}

// Table lable
.status-chip {
    @include lable-color;
}

//Status
.agent-status-chip {
    @include agent-lable-color;
}

//Status
.assign-aircraft-status-chip {
    @include assign-aircraft-lable-color;
}

// Booking stutus 
.booking-status-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $off-white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
    .booking-status {
        display: flex;
        align-items: center;
        div {
            &:first-child {
                font-weight: 500;
                padding-right: 16px;
            }
        }
    }
    .view-booking-link {
        color: $brand-primary;
        font-weight: 500;
        cursor: pointer;
    }
}

// File upload 
.file-upload {
    background-color: $off-white;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    input {
        width: 100%;
    }
    span {
        color: $brand-primary;
        cursor: pointer;
    }
}

// Font Icons
.ca {
    font-family: 'cargo-icons' !important;
    font-style: normal;
    font-weight: 400;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
}

// Menu Wrapper
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    background: $default-white;
    padding: 18px 10px 10px;
    z-index: 100;
    transition: all 0.5s ease;
    box-shadow: 0px 3px 6px #c3d5e4;

    &.close {
        width: 50px;

        .logo-details {
            .logo-wrapper-s {
                opacity: 1;
            }

            .logo-wrapper {
                opacity: 0;

                img {
                    transition-delay: 0s;
                    opacity: 0;
                    pointer-events: none;
                }
            }
        }

        .nav-links {
            overflow: visible;

            li {
                .iocn-link {
                    display: block
                }

                .link-group {
                    .link_name {
                        opacity: 0;
                        pointer-events: none;
                    }
                }

                .sub-menu {
                    position: absolute;
                    left: 100%;
                    top: -10px;
                    margin-top: 0;
                    padding: 10px 20px;
                    border-radius: 0 6px 6px 0;
                    opacity: 0;
                    display: block;
                    pointer-events: none;
                    transition: 0s;

                    .link_name {
                        font-size: 14px;
                        opacity: 1;
                        display: block;
                    }
                }

                &:hover {
                    .sub-menu {
                        top: 0;
                        opacity: 1;
                        pointer-events: auto;
                        transition: all 0.4s ease;
                    }
                }
            }

            i {
                &.arrow {
                    display: none;
                }
            }
        }

        .profile-details {
            background: none;
            width: 78px;

            img {
                padding: 10px;
                margin: 0 auto;
            }

            i,
            .profile_name,
            .job {
                display: none;
            }

            .sub-menu {
                left: 66% !important;
            }
        }

        .main-card {
            margin-left: 80px;
        }
    }

    .logo-details {

        .logo-wrapper,
        .logo-wrapper-s {
            width: 100%;
            cursor: pointer;
        }

        .logo-wrapper-s {
            position: absolute;
            top: 15px;
            opacity: 0;
        }
    }

    .nav-links {
        height: 100%;
        padding: 30px 0 150px 0;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        li {
            position: relative;
            list-style: none;
            transition: all 0.4s ease;

            &:hover {
                background: #d4eaff;

                .sub-menu {
                    &.blank {
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }

            .iocn-link {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .arrow {
                    font-size: 10px;
                }
            }

            i {
                min-width: 30px;
                text-align: center;
                line-height: 50px;
                color: $brand-primary;
                font-size: 14px;
                margin-right: 10px;
                cursor: pointer;
                transition: all 0.3s ease;
            }

            &.showMenu {
                i {
                    &.arrow {
                        transform: rotate(-180deg);
                    }
                }

                .sub-menu {
                    display: block;
                }
            }

            .link-group {
                display: flex;
                align-items: center;
                text-decoration: none;
                height: 50px;

                .link_name {
                    font-size: 14px;
                    font-weight: 400;
                    color: $font-color;
                    transition: all 0.4s ease;
                }
            }

            .sub-menu {
                padding: 6px 6px 14px 40px;
                margin-top: -10px;
                background: #d4eaff;
                display: none;

                .link {
                    color: $font-color;
                    font-size: 12px;
                    padding: 5px 0;
                    white-space: nowrap;
                    opacity: 0.6;
                    transition: all 0.3s ease;
                    cursor: pointer;

                    &:hover {
                        opacity: 1;
                    }
                }

                .link_name {
                    display: none;
                }

                &.blank {
                    opacity: 1;
                    pointer-events: auto;
                    padding: 3px 20px 6px 16px;
                    opacity: 0;
                    pointer-events: none;
                }
            }
        }
    }

    .profile-details {
        position: fixed;
        bottom: 0;
        width: 240px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $white-blue;
        padding: 12px 0;
        transition: all 0.5s ease;
        margin-left: -10px;

        .profile-content {
            display: flex;
            align-items: center;
        }

        img {
            height: 50px;
            width: 50px;
            object-fit: cover;
            border-radius: 16px;
            margin: 0 14px 0 12px;
            background: $light-blue;
            transition: all 0.5s ease;
        }

        .profile_name,
        .job {
            color: $font-color;
            font-size: 18px;
            font-weight: 500;
            white-space: nowrap;
        }

        .job {
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 400px) {
    .sidebar {
        width: 240px;

        &.close {
            width: 50px;

            .profile-details {
                width: 50px;
                background: none;
            }
        }

        .profile-details {
            width: 240px;
        }
    }
}

.close .main-card {
    margin-left: 50px;
    transition: all 0.5s ease;
}

.profile-pic {
    display: none;
}

.profile-card {
    text-align: center;
    background-color: $white-blue;
    padding: 1.875rem 0.938rem 0.938rem;
    color: $form-label;
    border-radius: 0.625rem;

    .pro-pic {
        width: 3.938rem;
        height: 3.938rem;
        background-color: $blue;
        border-radius: 50%;
        margin: 0 auto;
        margin-bottom: 0.938rem;

        .pro-img {
            text-align: center;
            padding: 0.5rem;

            img {
                height: 2.938rem;
                border: 0.125rem solid $default-white;
                border-radius: 50%;
            }
        }
    }

    .actions {
        color: $brand-primary;
        margin-top: 1.875rem;
        cursor: pointer;

        span {
            padding: 0 1.25rem;
        }
    }
}

// Main Card
.main-card {
    margin-left: 15rem;
    padding: 1rem;
    transition: all 0.5s ease;

    .card-header {
        background-color: transparent;
        border-bottom: none;
    }

    .card-body {
        background-color: $default-white;
        border-radius: 0.313rem 0.313rem 0 0;
        height: calc(100vh - 130px); //height: calc(100vh - 130px);
        overflow-x: auto;
        @include customScrollbar(10px);

        &.without-footer {
            height: calc(100vh - 80px);
        }
    }

    .card-footer {
        background-color: $default-white;
        border-top: none;
        border-radius: 0 0 0.313rem 0.313rem;
    }
}

// Gray Box
.second-box {
    background-color: $white-blue;
    border-radius: 0.313rem;
    margin-top: 1.25rem;
    padding: 1rem;
}

// Details Group
.details-group {
    @include detailsgroup;

    i {
        color: $brand-primary;
        font-size: 1rem;
        padding: 0 0.938rem;
        cursor: pointer;
    }
}

// Whiti Box With Border
.white-box {
    background-color: $default-white;
    border: 0.063rem dashed $light-gray;
    padding: 1rem;
    margin-top: 1rem;
}

// Modal
.modal {
    &.fade {
        background-color: rgba(0, 0, 0, 0.5);
    }

    &.right {
        .modal-dialog {
            position: fixed;
            margin: auto;
            // width: 320px;
            height: 100%;
            -webkit-transform: translate3d(0%, 0, 0);
            -ms-transform: translate3d(0%, 0, 0);
            -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);

            &-m {
                @include modalwidth(37.5rem)
            }

            &-xl {
                max-width: 1000px;
            }
        }

        .modal-content {
            height: 100%;
            overflow-y: auto;
            border-radius: 0;
            border: 0;
        }

        .modal-body {
            min-height: calc(100vh - 136px);
            overflow: auto;
            @include customScrollbar(10px)
        }

        &.fade {
            .modal-dialog {
                right: -320px;
                -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
                -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
                -o-transition: opacity 0.3s linear, right 0.3s ease-out;
                transition: opacity 0.3s linear, right 0.3s ease-out;
            }

            &.in {
                .modal-dialog {
                    right: 0;
                }
            }
        }
    }

    .modal-body {
        max-height: calc(100vh - 136px);
        overflow: auto;
        @include customScrollbar(10px)
    }
}

// Details
.details {
    padding-bottom: 1.25rem;

    details {
        summary {
            background-color: $white-blue;
            padding: 0.625rem;
            font-size: 1rem;
            border-radius: 0.313rem;
            font-weight: 400;

            &::marker {
                content: '';
                display: none !important;
            }

            &::before {
                content: "\e903";
                font-family: 'cargo-icons';
                right: 0;
                position: absolute;
                margin-right: 1.875rem;
            }
        }
    }

    details[open] {
        summary {
            border-radius: 0.313rem 0.313rem 0 0;

            &::before {
                content: "\e904";
                font-family: 'cargo-icons';
                right: 0;
                position: absolute;
                margin-right: 1.875rem;
            }
        }

        .card-details {
            padding: 0.625rem;
            font-size: 0.875rem;
            border: 1px solid $white-blue;
            border-top: 0rem;
            border-radius: 0 0 0.313rem 0.313rem;
            padding-top: 1rem;

            .details-group {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 1rem;

                .lable {
                    color: $gray;
                }
            }
        }
    }

    &.booking-lists {
        font-size: 11px;

        summary {
            font-size: 12px;
            display: flex;

            .lists-head {
                flex-wrap: wrap;
                flex-grow: 1;
            }
        }

        .table-content {
            .table {
                thead {
                    th {
                        font-size: 12px;
                    }
                }

                tbody {
                    font-size: 12px;

                    tr {
                        vertical-align: middle;
                    }
                }
            }

            .form-group {
                .form-control {
                    font-size: 12px;
                    height: auto;
                }
            }
        }
    }
}

// Add New Booking
.flight-av {
    .form-group {
        margin-bottom: 0;
    }

    .filter-btn {
        text-align: end;
        margin-top: 1.688rem;
    }
}

.legend {
    font-size: 0.75rem;
    display: flex;

    .value-label {
        color: $gray;
        margin-right: 1rem;
    }

    .value {
        color: $default-black;
        border-left: 0.063rem solid $off-white;
        padding-left: 0.563rem;
        margin-right: 0.5rem;
    }
}

.flight-availability {
    margin-top: 1.875rem;
    display: -webkit-inline-box;
    align-items: center;
    width: 100%;
    overflow-y: auto;
    @include customScrollbar(10px);

    .second-card {
        padding: 1rem;
        border: 0.063rem solid $off-white;
        border-radius: 0.313rem;
        box-shadow: 0 0.188rem 0.375rem $white-blue;
        width: 100%;
        max-width: 48%;
        margin-right: 1.875rem;
        margin-bottom: 1.875rem;

        .card-details {
            .card-row {
                display: flex;
                justify-content: space-between;
                border-bottom: 0.063rem solid $white-blue;
                padding-bottom: 0.313rem;
                align-items: center;

                .label {
                    color: $gray;
                }

                .value {
                    color: $default-black;

                    &.chip {
                        background-color: $light-blue;
                        border-radius: 3.125rem;
                        border: 0.063rem solid $blue;
                        padding: 0.313rem 1.25rem;
                        display: flex;
                        align-items: center;

                        i {
                            color: $green;
                            padding-left: 0.625rem;
                            padding-right: 0.625rem;
                        }
                    }
                }
            }

            .card-subtitle {
                padding-top: 0.938rem;
            }

            .card-button {
                text-align: end;
                padding-top: 0.938rem;
            }
        }
    }
}

.booking-second-info {
    .back-icn {
        font-size: 1.563rem;
        color: $brand-primary;
        cursor: pointer;
    }

    .add-awb {
        font-size: 1.875rem;
        color: $brand-primary;
        cursor: pointer;
        padding-right: 0.625rem;
    }
}

// Booking Lookup
.lookup-info {
    margin-top: 2.5rem;
    background-color: $default-white;
    border: 0.063rem solid $white-blue;
    border-radius: 0.313rem;
    padding: 1.563rem;

    .second-box {
        margin-top: 0;
    }

    i {
        color: $brand-primary;
        font-size: 1rem;
        padding: 0 0.938rem;
        cursor: pointer;
    }
}

// Booking Summary
.booking-details {
    .topbar-values {
        display: flex;
        align-items: center;
        width: 100%;
        background-color: #F5F6F8;
        border-radius: 5px;
        padding: 16px;

        div {
            width: 100%;
        }
    }

    .label {
        color: $gray;
    }
}

.details-box-section {
    padding: 1rem 0 0;
    display: flex;

    .details-box {
        width: 20%;
        background-color: $blue-box;
        border: 1px solid $box-border;
        padding: 10px 16px;
        margin-right: 1rem;
        border-radius: 5px;

        &.green-box {
            background-color: $green-box;
            border: 1px solid $green-boxborder;
        }

        &:last-child {
            margin-right: 0;
        }

        h4 {
            font-size: 0.75rem;
        }

        .value {
            display: flex;
            align-items: center;

            span {
                &:first-child {
                    font-size: 1.25rem;
                    color: $default-black;
                    font-weight: 600;
                    margin-right: 0.625rem;
                }
            }
        }
    }
}


.freighter-summary {
    position: absolute;
    width: 215px;
    padding: 1rem;
    font-size: 10px;
    background-color: $default-white;
    box-shadow: 0 0 15px rgba($default-black, 0.1);
    z-index: 1;
    border-radius: 10px;
    top: -40px;
    left: -60px;

    .summary-info {
        margin-bottom: 10px;
        text-align: left;

        .info-label {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 4px;

            .lable {
                color: $gray;
            }
        }

        .progress {
            background-color: $default-white;
            border: 1px solid $gray;

            .progress-bar {
                background-color: $green;
            }
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -10px;
        border-width: 10px;
        border-style: solid;
        border-color: white transparent transparent transparent;
    }
}

.booking-summary {
    padding: 1rem 0 0;
    position: relative;

    .nav-tabs {
        border-bottom: 0.063rem solid $brand-primary;

        .nav-link {
            border: 0.063rem solid $brand-primary;
            margin-right: 0.313rem;
            color: $brand-primary;

            &.active {
                background-color: $brand-primary;
                color: $default-white;
            }

        }
    }

    .tab-content {
        background-color: $white-blue;
        padding: 1rem;
        overflow-y: auto;
        @include customScrollbar(10px);

        .flight-booking {
            position: relative;

            .flight-body {
                .hide-seat {
                    visibility: hidden;
                }

                .flight-detail {
                    background-color: $default-white;
                    border-radius: 6.25rem;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1.875rem;

                    .sr-number {
                        font-size: 0.625rem;
                        color: $default-black;
                    }

                    .block-1 {
                        padding-right: 0.625rem;

                        &.exit {
                            img {
                                min-height: 9.375rem;
                            }
                        }
                    }

                    .front-seats {
                        display: flex;

                        .head-seat {
                            text-align: center;

                            .sb-1 {
                                padding: 1rem 0;
                                padding-right: 0.5rem;
                                cursor: pointer;

                                .point {
                                    position: absolute;
                                    left: 0.938rem;
                                    font-size: 0.688rem;
                                    top: 0.5rem;
                                    text-transform: uppercase;
                                }

                                div {
                                    position: relative;
                                    line-height: 0;
                                }
                            }
                        }
                    }

                    .flight-class {
                        writing-mode: vertical-lr;
                        text-transform: uppercase;
                        font-size: 0.688rem;
                        padding-right: 0.625rem;
                    }

                    .body-seat {
                        display: flex;
                        align-items: center;

                        .seat-row {
                            padding-right: 0.625rem;
                            text-align: center;
                            position: relative;

                            .seat-block {
                                &:first-child {
                                    padding-bottom: 1.375rem;
                                }

                                div {
                                    position: relative;
                                    line-height: 0;
                                    cursor: pointer;

                                    .point {
                                        font-size: 0.688rem;
                                        position: absolute;
                                        left: 0.375rem;
                                        top: 0.5rem;
                                        text-transform: uppercase;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.lir {
    .lir-header {
        padding-bottom: 40px;

        .lir-logo {
            max-width: 130px;
        }

        .heding {
            text-align: center;

            h2,
            span {
                text-transform: uppercase;
            }
        }
    }

    .lir-info {
        padding-bottom: 30px;

        .table-content {
            tbody {
                tr {
                    td {
                        color: $default-black !important;
                    }
                }
            }
        }
    }

    .table-content {
        .table {
            thead {
                th {
                    border: 1px solid $default-white;
                }
            }

            tbody {
                tr {
                    td {
                        border: 1px solid $off-white;
                    }

                    &:first-child {
                        td {
                            color: red;
                        }

                        .lable {
                            color: $default-black;
                        }
                    }
                }
            }
        }
    }

    .disclaimer {
        margin-top: 30px;
        border: 1px solid $light-gray;
        padding: 1rem;
    }
}


// AWB Stack Managemnt
.list-item {
    background-color: $default-white;
    border-radius: 0 0 0.313rem 0.313rem;
    border: 0.063rem solid $off-white;
    box-shadow: 0 0.188rem 0.375rem $off-white;
    position: absolute;
    width: 100%;
    max-width: 18.6%;

    .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.75rem;
        border-bottom: 0.063rem solid $off-white;

        i {
            color: $brand-primary;
            cursor: pointer;

            &:hover {
                color: $green;
            }
        }
    }
}

.Server-error {
    text-align: center;
    margin: auto;
    padding: 20%;

    img {
        padding-bottom: 20px;
    }

    h1 {
        color: $required;
        margin-bottom: 15px;
    }
}

// Details not available style

.not-available {
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 5px rgb(0 0 0 / 4%);
    border-radius: 4px;

    img {
        margin-bottom: 20px;
        max-width: 86px;
    }
}

.page-count {
    font-size: 12px;
    padding-left: 15px;

}

// Pagination
.pagination {
    margin-bottom: 0;

    .page-item {
        .page-link {
            padding: 0.125rem 0.625rem;
            border-radius: 0.25rem;
            margin: 0 0.063rem;
        }

        &.active {
            .page-link {
                background-color: $brand-primary;
                border-color: $brand-primary;
            }
        }
    }
}

// Drawer chip
.drawer-chip {
    display: flex;

    .chip:last-child {
        margin-right: 0;
    }

    .chip {
        display: flex;
        padding: 0.625rem 1.25rem;
        background-color: $off-white;
        border-radius: 3.125rem;
        color: $form-label;
        width: fit-content;
        margin-right: 1rem;

        div:first-child {
            margin-right: 1.563rem;
        }

        i {
            color: $brand-primary;
            cursor: pointer;
        }

        &.active {
            background-color: $brand-primary;
            color: $default-white;

            i {
                color: $default-white;
            }
        }
    }
}

// Switch
.switch {
    position: relative;
    display: inline-block;
    width: 2.75rem;
    height: 1.375rem;

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked+.slider {
            background-color: $brand-primary;
        }

        &:focus+.slider {
            box-shadow: 0 0 1px $brand-primary;
        }

        &:checked+.slider:before {
            transform: translateX(1.375rem);
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;

        &:before {
            position: absolute;
            content: "";
            height: 0.875rem;
            width: 0.875rem;
            left: 0.25rem;
            bottom: 0.25rem;
            background-color: $default-white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        &.round {
            border-radius: 2.188rem;
        }

        &.round:before {
            border-radius: 50%;
        }
    }
}

//Pallet Potions
.pallet-potions {
    padding-top: 1.875rem;

    .potions {
        padding-top: 0.938rem;

        .pallet {
            background-color: $default-white;
            border: 0.063rem solid $gray;
            border-radius: 0.313rem;
            padding: 1rem;
            cursor: pointer;
            margin-bottom: 0.938rem;

            &:hover {
                .lable {
                    color: $default-white;
                }

                background-color: $gray;
                border-color: $gray;
                color: $default-white;
            }

            &.added {
                background-color: $white-blue;
                border-color: $off-white;

                &:hover {
                    .lable {
                        color: $gray;
                    }

                    color: $default-black;
                }
            }
        }
    }

    .add-number {
        width: 100%;
        background-color: $default-white;
        box-shadow: 0.188rem 0 0.938rem $off-white;
        border-radius: 0.313rem;
        padding: 1.25rem;
    }
}

.back-icn {
    font-size: 1.563rem;
    color: $brand-primary;
    cursor: pointer;
}

// Flight Creation
.create-flight-sector {
    background-color: $white-blue;
    padding: 1rem;
    border-radius: 0.625rem;
    margin-bottom: 30px;
}

// Sector Wrapper
.sector-scroller {
    overflow-y: auto;
    padding: 0 0 25px;
    @include customScrollbar(5px);

    .bg-box {
        display: table;
        background-color: $white-blue;
        border-radius: 5px;

        .sector-wrapper {
            display: flex;
            flex-wrap: nowrap;
            font-size: 14px;

            .sector-set {
                margin-bottom: 10px;
                display: inline-flex;
                align-items: flex-end;

                .base {
                    display: flex;
                    align-items: center;
                    border-radius: 4px;
                    height: 30px;
                    color: $default-black;
                    border: 1px solid $default-black;
                    background-color: $default-white;
                    padding: 0 20px;
                    font-weight: 600;

                    &.block-time {
                        background-color: #ffffbb;
                        border-color: yellow;
                        color: #b4a200;
                        font-weight: 400;
                    }
                }

                .sector-data {
                    text-align: center;

                    .time-box {
                        border-style: solid;
                        border-width: 1px;
                        width: 130px;
                        -webkit-box-pack: justify;
                        justify-content: space-between;
                        padding: 0 10px;
                        margin: 0 1px;
                        position: relative;
                        background-color: #dfd2fe;
                        border-color: #c9b9ef;
                        display: flex;
                        border-radius: 4px;
                        height: 30px;
                        -webkit-box-align: center;
                        align-items: center;
                    }
                }

                .sector-action {
                    text-align: end;
                    color: $brand-primary;
                    cursor: pointer;

                    i {
                        padding-left: 1rem;
                    }
                }
            }
        }
    }
}

// Chip style
.chek-chip {
    padding-top: 1rem;

    .chip-button {
        background-color: $off-white;
        border: 1px solid $off-white;
        border-radius: 50px;
        padding: 6px 42px 6px 15px;
        ;
        width: fit-content;

        &.checked {
            background-color: $brand-primary;
            color: $default-white;
        }
    }

    .cu-check {
        label {
            margin-right: 10px;
        }

        .cu-checkbox {
            input {
                position: relative;

                &:checked~.checkmark {
                    background-color: $default-white;
                }
            }

            .checkmark {
                &:after {
                    left: 10px;
                    top: 7px;
                    width: 5px;
                    height: 10px;
                    border: solid $brand-primary;
                    border-width: 0 3px 3px 0;
                }
            }
        }

        .checkmark {
            top: auto;
            left: auto;
            background-color: $default-white;
            border-radius: 50px;
            margin-left: 12px;
            border: 0;
            top: 4px;
        }
    }

}

// Add rate
.add-rate-section {
    background-color: $white-blue;
    padding: 1rem;

    .check-and-input {
        .cu-check {
            .check-and-input-chip {
                background-color: $off-white;
                width: fit-content;
                display: flex;
                align-items: center;
                border-radius: 50px;
                padding: 5px 15px;
                margin-right: 10px;

                &.selected {
                    background-color: $brand-primary;
                    color: $default-white;
                }

                label {
                    display: flex;
                    align-items: center;
                    margin-right: 0;
                }

                .cu-checkbox {
                    padding-left: 0;
                    margin-bottom: 0;

                    .checkmark {
                        margin-left: 10px;
                    }
                }

                .form-control {
                    width: 100px;
                    height: 25px;
                    font-size: 14px;
                    margin-left: 15px;
                }
            }

            .checkmark {
                position: relative;
            }

        }
    }
}

.add-rate-table {
    &.table-content {
        &.form-group {
            .form-control {
                width: 150px;
                height: 25px;
                font-size: 14px;
            }
        }

        .table {
            tbody {
                tr {
                    td {
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

// Input search result value
.input-group-text {
    display: none;
}

.search-result-container {
    position: relative;

    .search-results {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        width: auto;
        max-width: 300px;
        background: #fff;
        box-shadow: 0 0 5px rgb(0 0 0 / 20%);
        border-radius: 4px;
        overflow: hidden;
        z-index: 50;

        .result-item {
            padding: 10px 15px;
            font-size: 12px;
            border-width: 1px;
            border-style: solid;
            border-color: #f1f1f1;

            .text-truncate {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &:hover {
                background: $light-blue;
                cursor: pointer;
            }
        }
    }
}

.time-field {
    .form-group {
        margin-bottom: 0;
    }
}

// Report section styles
.total-hours {
    font-size: 16px;

    .houres {
        color: $red;
        padding-left: 0.625rem;
        font-weight: 700;
    }
}

.report-head {
    background-color: $off-white;
    padding: 9px 15px;
    margin-top: 25px;
}

.report-table-wrapper {
    max-width: 100%;
    overflow: scroll;
    height: calc(100vh - 274px);
    font-size: 12px;

    table {
        position: relative;
        // border: 1px solid #ddd;
        border-collapse: collapse;

        td,
        th {
            white-space: nowrap;
            // border: 1px solid #ddd !important;
            padding: 8px 16px;
        }

        th {
            // background-color: #eee;
            position: sticky;
            top: -1px;
            z-index: 2;
            font-weight: 500;

            &:first-of-type {
                left: 0;
                z-index: 3;
            }
        }

        .head-bg {
            background-color: $off-white;
            padding: 3px 16px;
            text-align: center;
        }

        tbody {
            tr {
                td {
                    &:first-of-type {
                        background-color: $default-white;
                        position: sticky;
                        left: -1px;
                        text-align: left;
                        z-index: 1;
                    }

                    .table-label {
                        border-radius: 2px;
                        text-align: center;
                        cursor: pointer;
                        position: relative;
                        padding: 1px 5px;

                        .marker-hover {
                            display: none;
                        }

                        &:hover {
                            .marker-hover {
                                display: block;
                                left: -70px;
                            }
                        }

                        &.idle {
                            background-color: #FADCDC;
                            color: #CF2323;
                        }

                        &.flight-time {
                            background-color: $blue;
                            color: #282894;
                        }
                    }

                    &:nth-child(2) {
                        .table-label {
                            &:hover {
                                .marker-hover {
                                    display: block;
                                    left: 0px;
                                }
                            }
                        }
                    }

                    &:last-child {
                        .table-label {
                            &:hover {
                                .marker-hover {
                                    display: block;
                                    left: -132px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Other charges section
.added-other-charges {
    border-top: 1px solid $off-white;
    padding-top: 16px;
    h3 {
        font-weight: 600;
    }
}

.other-charges-field {
    padding: 16px;
    background-color: $white-blue;
    border: 1px dashed $input-border;
    border-radius: 5px;
}

.footer-content {
    padding: 10px 16px;
    text-align: end;
}