<form [formGroup]='rateForm' (submit)="updateRate()">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" *ngIf="!isLoading">
                    <label class="form-label">Rate Type</label>
                    <app-auto-complete-dropdown [data]="rateTypes" [keyword]="keyword"
                        [selectedIndex]="editRateTypeIndex" (selectFileOutput)="selectedRateType($event)" [isDisabled]="isDisabled"
                        (clearSearch)="onClearRateType()">
                    </app-auto-complete-dropdown>
                </div>
                <app-text-input-loader *ngIf="isLoading"></app-text-input-loader>
            </div>
            <div class="col-md-4">
                <div class="form-group" *ngIf="!isLoading">
                    <label class="form-label">Cargo Agent</label>
                    <app-auto-complete-dropdown [data]="cargoAgents" [keyword]="keyword"
                        [selectedIndex]="editAgentIndex" (selectFileOutput)="selectedCargoAgent($event)" [isDisabled]="isDisabled"
                        (clearSearch)="onClearCargoAgent()">
                    </app-auto-complete-dropdown>
                </div>
                <app-text-input-loader *ngIf="isLoading"></app-text-input-loader>
            </div>
            <div class="col-md-4">
                <div class="form-group" *ngIf="!isLoading">
                    <label class="form-label">Cargo Type</label>
                    <app-auto-complete-dropdown [data]="cargoTypes" [keyword]="keyword"
                        [selectedIndex]="editCargoTypeIndex" (selectFileOutput)="selectedCargoType($event)" [isDisabled]="isDisabled"
                        (clearSearch)="onClearCargoType()">
                    </app-auto-complete-dropdown>
                </div>
                <app-text-input-loader *ngIf="isLoading"></app-text-input-loader>
            </div>
            <div class="col-md-12">
                <div class="add-rate-section">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" *ngIf="!isLoading">
                                <label class="form-label">Origin</label>
                                <app-auto-complete-dropdown [data]="originAirpots" [keyword]="keyword" [isDisabled]="isDisabled"
                                    [selectedIndex]="editOriginIndex" #autoCompleteOrigin
                                    (selectFileOutput)="selectedOrigin($event)" (changeSearch)="onClearOrigin()"
                                    (clearSearch)="onClearOrigin()">
                                </app-auto-complete-dropdown>
                            </div>
                            <app-text-input-loader *ngIf="isLoading"></app-text-input-loader>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" *ngIf="!isLoading">
                                <label class="form-label">Destination</label>
                                <app-auto-complete-dropdown [data]="destinationAirpots" [keyword]="keyword" [isDisabled]="isDisabled"
                                    [selectedIndex]="editDestinationIndex" #autoCompleteDestination
                                    (selectFileOutput)="selectedDestination($event)"
                                    (changeSearch)="onClearDestination()" (clearSearch)="onClearDestination()">
                                </app-auto-complete-dropdown>
                            </div>
                            <app-text-input-loader *ngIf="isLoading"></app-text-input-loader>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" *ngIf="!isLoading">
                                <label class="form-label">Valid Start Date</label>
                                <input type="text" [formControl]='rateForm.controls["startDate"]'
                                    class="form-control" readonly >
                            </div>
                            <app-text-input-loader *ngIf="isLoading"></app-text-input-loader>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group" *ngIf="!isLoading">
                                <label class="form-label">Valid End Date</label>
                                <input type="text" [formControl]='rateForm.controls["endDate"]'
                                    class="form-control" readonly >
                            </div>
                            <app-text-input-loader *ngIf="isLoading"></app-text-input-loader>
                        </div>
                    </div>
                    <div>Update rate classes and rates</div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row pt-3">
                                <div class="col-md-1" *ngFor="let rateItem of agentRates.controls">
                                    <div [formGroup]="rateItem">
                                        <div class="form-group">
                                            <label
                                                class="form-label">{{GetWeightType(rateItem.controls['weightType'].value)}}</label>
                                            <app-value-input formControlName="rate"  [label]='"rate"'>
                                            </app-value-input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary me-3" type="button" (click)="closeModal()">Cancel</button>
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>
