<div class="main-card">
    <div class="card-header px-0 pt-0">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h1>Flight Schedule Management</h1>
            </div>
            <div>
                <button class="btn btn-primary" type="button" (click)="openAddFlightSchedule()">Create Flight Schedule</button>
            </div>
        </div>
    </div>
    <div class="card-body without-footer">
        <div class="row">
            <div class="d-flex justify-content-between align-items-center">
                <div class="filter-wrapper">
                    <div class="filter-group">
                        <label class="form-label">Flight Number</label>
                        <input [(ngModel)]="flightNumber" type="text" class="form-control"
                        (change)="onChangeFilterFrm($event)">
                    </div>
                    <div class="filter-group">
                        <label class="form-label">Origin</label>
                        <app-auto-complete-dropdown [data]="originAirpots" [keyword]="keyword"
                            (selectFileOutput)="selectedOrigin($event)" (changeSearch)="onClearOrigin()"
                            (clearSearch)="onClearOrigin()"></app-auto-complete-dropdown>
                    </div>
                    <div class="filter-group">
                        <label class="form-label">Destination</label>
                        <app-auto-complete-dropdown [data]="destinationAirpots" [keyword]="keyword"
                            (selectFileOutput)="selectedDestination($event)" (changeSearch)="onClearDestination()"
                            (clearSearch)="onClearDestination()"></app-auto-complete-dropdown>
                    </div>
                    <div class="button">
                        <button class="btn sm btn-primary-outline" (click)="getFlightScheduleList()">Add Filter</button>
                    </div>
                    <div class="filter-clear" title="Filter Clear" [hidden]="!filterFormHasValue"><i
                        class="ca ca-icn-close" (click)="clearFilter()"></i></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table-content">
                <table class="table table-responsive">
                    <thead>
                        <th>Aircraft Type</th>
                        <th>Flight Number</th>
                        <th>Origin</th>
                        <th>Destination</th>
                        <th>Flight Time</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Days of the Week</th>
                        <th class="text-center">Actions</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of this.flightSchedule">
                            <td>{{GetAircraftSubType(item.aircraftSubType)}}</td>
                            <td>{{item.flightNumber}}</td>
                            <td>{{item.originAirportCode+" - "+item.originAirportName}}</td>
                            <td>{{item.destinationAirportCode+" - "+item.destinationAirportName}}</td>
                            <td>{{item.scheduledTime | date :'shortTime'}}</td>
                            <td>{{item.scheduleStartDate| date}}</td>
                            <td>{{item.scheduleEndDate| date}}</td>
                            <td>{{item.daysOfWeek}}</td>
                            <td class="text-center">
                                <i class="ca ca-icn-edit" title="Edit"></i>
                                <i class="ca ca-icn-bin" title="Delete"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="not-available" *ngIf="totalCount == 0">
                    <img src="./assets/images/no-data.png" alt="No Content Data">
                    <div>Flight schedules not available.</div>
                </div>
                <div class="d-flex align-items-center justify-content-center" *ngIf="totalCount > 0">
                    <app-pager [pageSize]="flightScheduleFilterQuery?.pageSize" [pageNumber]="flightScheduleFilterQuery?.pageIndex"
                        [totalCount]="totalCount" (pageChanged)="onPageChanged($event)"></app-pager>
                    <app-paging-header [totalCount]="totalCount" [pageSize]="flightScheduleFilterQuery?.pageSize"
                        [pageNumber]="flightScheduleFilterQuery?.pageIndex"></app-paging-header>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade right" tabindex="-1" [ngClass]="{'in': modalVisibleAnimate}"
    [ngStyle]="{'display': modalVisible ? 'block' : 'none', 'opacity': modalVisibleAnimate ? 1 : 0}">
    <div class="modal-dialog modal-lg modal-dialog-m modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Create Flight Schedule</h2>
                <button type="button" class="close btn" data-dismiss="modal" (click)="closeAddFlightSchedule()"
                    aria-label="Close"><span class="ca ca-icn-close"></span></button>
            </div>
            <div>
                <app-flight-schedule-create
                    (closePopup)="closeAddFlightSchedule()" (submitSuccess)="onAddFlightSchedule()" *ngIf="modalVisible"></app-flight-schedule-create>
            </div>
        </div>
    </div>
</div>