<form [formGroup]='flightForm'>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">Flight Number</label>
                <app-text-input [formControl]='flightForm.controls["flightNumber"]' type="text" [label]='"flight Number"'[tabindex]="1">
                </app-text-input>
            </div>
        </div>
        <h3>Add Your Sector List</h3>
        <div class="col-md-12">
            <div class="create-flight-sector" formGroupName="flightSector">
                <div class="row" >
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Origin</label>
                            <app-auto-complete-textbox #originAirportTextBox [SelectedList]="originAirports"
                              [form]="flightForm" [control] ="flightForm.get('flightSector')?.get('originAirportCode')"
                                (searchedText)="originAirportTextChange($event)"
                                (selectedObject)="originAirportSelectEvent($event)">
                            </app-auto-complete-textbox>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Destination</label>
                            <app-auto-complete-textbox #destinationAirportTextBox [SelectedList]="desAirports"
                              [form]="flightForm" [control] ="flightForm.get('flightSector')?.get('desAirportCode')"
                                (searchedText)="destinationAirportTextChange($event)"
                                (selectedObject)="destinationAirportSelectEvent($event)">
                            </app-auto-complete-textbox>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Departure Time</label>
                            <div class="row">
                                <div class="col-md-12 time-field">
                                    <div class="d-flex align-items-center">
                                        <app-text-input [formControl]='flightForm.get("flightSector")?.controls["departureDateDisplayTimeHr"]' type="number" [tabindex]="3">
                                        </app-text-input>
                                        <span class="px-2">:</span>
                                        <app-text-input [formControl]='flightForm.get("flightSector")?.controls["departureDateDisplayTimeMin"]' type="number" [tabindex]="4">
                                        </app-text-input>
                                        <!-- <input type="number" class="form-control" formControlName="departureDateDisplayTimeMin" name="departureDateDisplayTimeMin"> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Arrival Time</label>
                            <div class="row">
                                <div class="col-md-12 time-field">
                                    <div class="d-flex align-items-center">
                                      <app-text-input class="mb-0" [formControl]='flightForm.get("flightSector")?.controls["arrivalDateDisplayTimeHr"]' type="number" [tabindex]="5">
                                      </app-text-input>
                                        <span class="px-2">:</span>
                                        <app-text-input [formControl]='flightForm.get("flightSector")?.controls["arrivalDateDisplayTimeMin"]' type="number" [tabindex]="6">
                                        </app-text-input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-end">
                        <button class="btn btn-primary-outline" type="button" (click)="addSector()" >Add Sector</button> <!--[disabled]="!flightForm.valid"-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="sector-scroller">
                <div class="bg-box px-3 pt-2 pb-1" *ngIf="flightSectorList?.length > 0">
                    <div class="sector-wrapper">
                        <div class="sector-set">
                            <div class="base">{{initialAirportCode}}</div>
                        </div>
                        <div class="sector-set" *ngFor="let item of flightSectorList">
                            <div class="sector-data">
                                <div class="time-box">
                                    {{item.departureDateDisplayTime}}
                                    <i class="ca ca-icn-aircraft"></i>
                                    {{item.arrivalDateDisplayTime}}
                                </div>
                            </div>
                            <div class="sector-action">
                                <i class="ca ca-icn-edit" title="Edit"></i>
                                <i class="ca ca-icn-bin" title="Delete" (click)="removeflightSector()" ></i>
                                <div class="base">{{item.destinationAirportCode}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary me-3" type="button" (click)="closeModal()">Cancel</button>
    <button class="btn btn-primary" type="button" (click)="save()">Save</button>
</div>
</form>
